---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - d11cae4c-01f5-4547-b6a2-203151717bd3
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T111326Z
            X-Amz-Target:
                - Logs_20140328.DescribeLogGroups
        url: https://logs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"logGroups":[{"arn":"arn:aws:logs:us-east-1:000000000000:log-group:e2e-lg:*","bearerTokenAuthenticationEnabled":false,"creationTime":1782645167121,"deletionProtectionEnabled":false,"logGroupArn":"arn:aws:logs:us-east-1:000000000000:log-group:e2e-lg","logGroupClass":"STANDARD","logGroupName":"e2e-lg","metricFilterCount":0,"retentionInDays":30,"storedBytes":0}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - d19bf045-d7bf-43b0-aafe-b9005a053d95
        status: 200 OK
        code: 200
        duration: 2.925302958s
