---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        form:
            api-version:
                - "2026-01-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkSecurityGroups?api-version=2026-01-01
        method: GET
      response:
        body: '{"value":[{"name":"sigcomply-e2e-nsg","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.Network/networkSecurityGroups/sigcomply-e2e-nsg","etag":"W/\"03f7e970-8b43-4971-926c-0a4bf6d0e041\"","type":"Microsoft.Network/networkSecurityGroups","location":"eastus","properties":{"provisioningState":"Succeeded","resourceGuid":"2e7ec9a5-09ff-44ad-a3a2-736ad73ee25d","securityRules":[{"name":"allow-ssh","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.Network/networkSecurityGroups/sigcomply-e2e-nsg/securityRules/allow-ssh","etag":"W/\"03f7e970-8b43-4971-926c-0a4bf6d0e041\"","type":"Microsoft.Network/networkSecurityGroups/securityRules","properties":{"provisioningState":"Succeeded","protocol":"Tcp","sourcePortRange":"*","destinationPortRange":"22","sourceAddressPrefix":"0.0.0.0/0","destinationAddressPrefix":"*","access":"Allow","priority":1000,"direction":"Inbound","sourcePortRanges":[],"destinationPortRanges":[],"sourceAddressPrefixes":[],"destinationAddressPrefixes":[]}}],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.Network/networkSecurityGroups/sigcomply-e2e-nsg/defaultSecurityRules/AllowVnetInBound","etag":"W/\"03f7e970-8b43-4971-926c-0a4bf6d0e041\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Succeeded","description":"Allow inbound traffic from all VMs in VNET","protocol":"*","sourcePortRange":"*","destinationPortRange":"*","sourceAddressPrefix":"VirtualNetwork","destinationAddressPrefix":"VirtualNetwork","access":"Allow","priority":65000,"direction":"Inbound","sourcePortRanges":[],"destinationPortRanges":[],"sourceAddressPrefixes":[],"destinationAddressPrefixes":[]}},{"name":"AllowAzureLoadBalancerInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Mi[...]
    - id: 1
      request:
        host: management.azure.com
        form:
            api-version:
                - "2026-01-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/virtualNetworks?api-version=2026-01-01
        method: GET
      response:
        body: '{"value":[{"name":"sigcomply-e2e-vnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.Network/virtualNetworks/sigcomply-e2e-vnet","etag":"W/\"327e09bd-200f-419c-b312-11efdd91b610\"","type":"Microsoft.Network/virtualNetworks","location":"eastus","properties":{"provisioningState":"Succeeded","resourceGuid":"e30e7100-9fc5-418e-94be-2895365a2cbd","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"privateEndpointVNetPolicies":"Disabled","subnets":[{"name":"default","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.Network/virtualNetworks/sigcomply-e2e-vnet/subnets/default","etag":"W/\"327e09bd-200f-419c-b312-11efdd91b610\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled","defaultOutboundAccess":false},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Original-Request-Ids:
                - df66bc50-fb84-4d89-ac2d-0b7d58906aa8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
            X-Ms-Throttle-Levels:
                - operationConcurrencyPct=0.5, subscriptionReadRatePct=0.2, etc
        status: 200 OK
        code: 200
        duration: 1.428808792s
