---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56233
        form:
            api-version:
                - "2025-05-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkSecurityGroups?api-version=2025-05-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Network/networkSecurityGroups/e2ensg","name":"e2ensg","location":"eastus","properties":{"securityRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Network/networkSecurityGroups/e2ensg/securityRules/AllowSSH","name":"AllowSSH","properties":{"protocol":"Tcp","sourcePortRange":"*","destinationPortRange":"22","sourceAddressPrefix":"0.0.0.0/0","destinationAddressPrefix":"*","access":"Allow","priority":100,"direction":"Inbound"}}]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.744208ms
    - id: 1
      request:
        host: 127.0.0.1:56233
        form:
            api-version:
                - "2025-05-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/virtualNetworks?api-version=2025-05-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Network/virtualNetworks/e2evnet","name":"e2evnet","location":"eastus","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Network/virtualNetworks/e2evnet/subnets/default","name":"default","properties":{}}],"flowLogs":[{"id":"x","properties":{"enabled":true}}]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 247.959µs
