---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - c810a8ba-95ab-47fe-8a31-568ba845821d
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T111312Z
            X-Amz-Target:
                - CloudTrail_20131101.DescribeTrails
        url: https://cloudtrail.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"trailList":[{"HasCustomEventSelectors":false,"HasInsightSelectors":false,"HomeRegion":"us-east-1","IncludeGlobalServiceEvents":true,"IsMultiRegionTrail":true,"IsOrganizationTrail":false,"LogFileValidationEnabled":true,"Name":"e2e-trail","S3BucketName":"e2e-ct-1501412567","TrailARN":"arn:aws:cloudtrail:us-east-1:000000000000:trail/e2e-trail"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 0d3456fc-cfed-4427-b0e9-66e9dd0906ac
        status: 200 OK
        code: 200
        duration: 5.895933917s
    - id: 1
      request:
        host: ""
        body: '{"Name":"arn:aws:cloudtrail:us-east-1:000000000000:trail/e2e-trail"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - bef12f1e-1421-4841-9078-356960fb609e
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T111318Z
            X-Amz-Target:
                - CloudTrail_20131101.GetTrailStatus
        url: https://cloudtrail.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"IsLogging":true,"LatestDeliveryAttemptSucceeded":"","LatestDeliveryAttemptTime":"","LatestNotificationAttemptSucceeded":"","LatestNotificationAttemptTime":"","StartLoggingTime":1.782645165916E9,"TimeLoggingStarted":"2026-06-28T11:12:45Z","TimeLoggingStopped":""}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 2d4ebc0a-0919-4674-8309-abbc99bf386e
        status: 200 OK
        code: 200
        duration: 240.911375ms
