---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: Action=ListUsers&Version=2010-05-08
        form:
            Action:
                - ListUsers
            Version:
                - "2010-05-08"
        headers:
            Amz-Sdk-Invocation-Id:
                - 490657e5-39cd-4f96-9c37-d020063a9f66
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T075035Z
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: |
            <ListUsersResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
              <ListUsersResult>
                <IsTruncated>false</IsTruncated>
                <Users>
                  <member>
                    <Path>/</Path>
                    <UserName>example-admin</UserName>
                    <Arn>arn:aws:iam::000000000000:user/example-admin</Arn>
                    <UserId>AIDAEXAMPLE0000000001</UserId>
                    <CreateDate>2026-06-14T07:06:48Z</CreateDate>
                  </member>
                  <member>
                    <Path>/</Path>
                    <UserName>example-recorder</UserName>
                    <Arn>arn:aws:iam::000000000000:user/example-recorder</Arn>
                    <UserId>AIDAEXAMPLE0000000002</UserId>
                    <CreateDate>2026-06-21T18:17:39Z</CreateDate>
                  </member>
                </Users>
              </ListUsersResult>
              <ResponseMetadata>
                <RequestId>c7408d9c-aa5e-4aac-bcac-58006023a112</RequestId>
              </ResponseMetadata>
            </ListUsersResponse>
        headers:
            Content-Type:
                - text/xml
            X-Amzn-Requestid:
                - c7408d9c-aa5e-4aac-bcac-58006023a112
        status: 200 OK
        code: 200
        duration: 5.845636791s
    - id: 1
      request:
        host: ""
        body: Action=ListMFADevices&UserName=example-admin&Version=2010-05-08
        form:
            Action:
                - ListMFADevices
            UserName:
                - example-admin
            Version:
                - "2010-05-08"
        headers:
            Amz-Sdk-Invocation-Id:
                - c8ea369b-6cc2-4561-a587-a9611d743660
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T075041Z
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: |
            <ListMFADevicesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
              <ListMFADevicesResult>
                <IsTruncated>false</IsTruncated>
                <MFADevices/>
              </ListMFADevicesResult>
              <ResponseMetadata>
                <RequestId>132d9671-8b11-4eac-9584-6d17829d8678</RequestId>
              </ResponseMetadata>
            </ListMFADevicesResponse>
        headers:
            Content-Type:
                - text/xml
            X-Amzn-Requestid:
                - 132d9671-8b11-4eac-9584-6d17829d8678
        status: 200 OK
        code: 200
        duration: 264.80475ms
    - id: 2
      request:
        host: ""
        body: Action=ListAccessKeys&UserName=example-admin&Version=2010-05-08
        form:
            Action:
                - ListAccessKeys
            UserName:
                - example-admin
            Version:
                - "2010-05-08"
        headers:
            Amz-Sdk-Invocation-Id:
                - a1ddb462-c562-41d2-8c23-6753b496a2cd
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T075047Z
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: |
            <ListAccessKeysResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
              <ListAccessKeysResult>
                <IsTruncated>false</IsTruncated>
                <AccessKeyMetadata>
                  <member>
                    <AccessKeyId>AKIAEXAMPLE30EDE2406</AccessKeyId>
                    <UserName>example-admin</UserName>
                    <Status>Active</Status>
                    <CreateDate>2026-06-14T07:07:16Z</CreateDate>
                  </member>
                </AccessKeyMetadata>
              </ListAccessKeysResult>
              <ResponseMetadata>
                <RequestId>a0ab43ed-1810-4035-8b14-a1b72f5c2ca4</RequestId>
              </ResponseMetadata>
            </ListAccessKeysResponse>
        headers:
            Content-Type:
                - text/xml
            X-Amzn-Requestid:
                - a0ab43ed-1810-4035-8b14-a1b72f5c2ca4
        status: 200 OK
        code: 200
        duration: 238.251ms
    - id: 3
      request:
        host: ""
        body: Action=ListAttachedUserPolicies&UserName=example-admin&Version=2010-05-08
        form:
            Action:
                - ListAttachedUserPolicies
            UserName:
                - example-admin
            Version:
                - "2010-05-08"
        headers:
            Amz-Sdk-Invocation-Id:
                - 8db02534-4a66-4ba5-83dc-91ffb72d3330
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T075048Z
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: |
            <ListAttachedUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
              <ListAttachedUserPoliciesResult>
                <IsTruncated>false</IsTruncated>
                <AttachedPolicies>
                  <member>
                    <PolicyArn>arn:aws:iam::aws:policy/AdministratorAccess</PolicyArn>
                    <PolicyName>AdministratorAccess</PolicyName>
                  </member>
                  <member>
                    <PolicyArn>arn:aws:iam::aws:policy/IAMUserChangePassword</PolicyArn>
                    <PolicyName>IAMUserChangePassword</PolicyName>
                  </member>
                </AttachedPolicies>
              </ListAttachedUserPoliciesResult>
              <ResponseMetadata>
                <RequestId>565d7ef5-fea8-4be5-8e8e-ee9007283701</RequestId>
              </ResponseMetadata>
            </ListAttachedUserPoliciesResponse>
        headers:
            Content-Type:
                - text/xml
            X-Amzn-Requestid:
                - 565d7ef5-fea8-4be5-8e8e-ee9007283701
        status: 200 OK
        code: 200
        duration: 235.844ms
[...]
    - id: 7
      request:
        host: ""
        body: Action=ListGroupsForUser&UserName=example-recorder&Version=2010-05-08
        form:
            Action:
                - ListGroupsForUser
            UserName:
                - example-recorder
            Version:
                - "2010-05-08"
        headers:
            Amz-Sdk-Invocation-Id:
                - 1b02e30c-9934-4896-aae6-000000000000
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T075050Z
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: |
            <ListGroupsForUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
              <ListGroupsForUserResult>
                <IsTruncated>false</IsTruncated>
                <Groups/>
              </ListGroupsForUserResult>
              <ResponseMetadata>
                <RequestId>9e2ae2a8-182e-4570-a7fb-b1f4eb37565f</RequestId>
              </ResponseMetadata>
            </ListGroupsForUserResponse>
        headers:
            Content-Type:
                - text/xml
            X-Amzn-Requestid:
                - 9e2ae2a8-182e-4570-a7fb-b1f4eb37565f
        status: 200 OK
        code: 200
        duration: 237.599791ms
    - id: 8
      request:
        host: ""
        body: Action=GetCredentialReport&Version=2010-05-08
        form:
            Action:
                - GetCredentialReport
            Version:
                - "2010-05-08"
        headers:
            Amz-Sdk-Invocation-Id:
                - 4e0bf564-2010-4fa0-a343-08011f849a08
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T075050Z
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: |
            <GetCredentialReportResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
              <GetCredentialReportResult>
                <GeneratedTime>2026-06-28T07:47:13Z</GeneratedTime>
                <ReportFormat>text/csv</ReportFormat>
                <Content>dXNlcixhcm4sdXNlcl9jcmVhdGlvbl90aW1lLHBhc3N3b3JkX2VuYWJsZWQscGFzc3dvcmRfbGFzdF91c2VkLHBhc3N3b3JkX2xhc3RfY2hhbmdlZCxwYXNzd29yZF9uZXh0X3JvdGF0aW9uLG1mYV9hY3RpdmUsYWNjZXNzX2tleV8xX2FjdGl2ZSxhY2Nlc3Nfa2V5XzFfbGFzdF9yb3RhdGVkLGFjY2Vzc19rZXlfMV9sYXN0X3VzZWRfZGF0ZSxhY2Nlc3Nfa2V5XzFfbGFzdF91c2VkX3JlZ2lvbixhY2Nlc3Nfa2V5XzFfbGFzdF91c2VkX3NlcnZpY2UsYWNjZXNzX2tleV8yX2FjdGl2ZSxhY2Nlc3Nfa2V5XzJfbGFzdF9yb3RhdGVkLGFjY2Vzc19rZXlfMl9sYXN0X3VzZWRfZGF0ZSxhY2Nlc3Nfa2V5XzJfbGFzdF91c2VkX3JlZ2lvbixhY2Nlc3Nfa2V5XzJfbGFz[...]
