---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://compute.googleapis.com/compute/v1/projects/e2e-project/global/firewalls?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#firewallList","id":"projects/e2e-project/global/firewalls","items":[{"kind":"compute#firewall","id":"1222213409027177741","creationTimestamp":"2026-07-25T11:43:46.330-07:00","name":"default-allow-icmp","description":"Allow ICMP from anywhere","network":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/networks/default","priority":65534,"sourceRanges":["0.0.0.0/0"],"allowed":[{"IPProtocol":"icmp"}],"direction":"INGRESS","logConfig":{"enable":false},"disabled":false,"selfLink":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/firewalls/default-allow-icmp"},{"kind":"compute#firewall","id":"7066420269627784461","creationTimestamp":"2026-07-25T11:43:46.081-07:00","name":"default-allow-internal","description":"Allow internal traffic on the default network","network":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/networks/default","priority":65534,"sourceRanges":["10.128.0.0/9"],"allowed":[{"IPProtocol":"tcp","ports":["0-65535"]},{"IPProtocol":"udp","ports":["0-65535"]},{"IPProtocol":"icmp"}],"direction":"INGRESS","logConfig":{"enable":false},"disabled":false,"selfLink":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/firewalls/default-allow-internal"},{"kind":"compute#firewall","id":"3865271240000847117","creationTimestamp":"2026-07-25T11:43:46.247-07:00","name":"default-allow-rdp","description":"Allow RDP from anywhere","network":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/networks/default","priority":65534,"sourceRanges":["0.0.0.0/0"],"allowed":[{"IPProtocol":"tcp","ports":["3389"]}],"direction":"INGRESS","logConfig":{"enable":false},"disabled":false,"selfLink":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/firewalls/default-allow-rdp"},{"kind":"compute#firewall","id":"888490090736172301","creationTimestamp":"2026-07-25T11:43:46.165-07:00","name":"default-allow-ssh","description":"Allow SSH from anywhere","network":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/networks/default","priority":65534,"sourceRanges":["0.0.0.0/0"],"allowed":[{"IPProtocol":"tcp","ports":["22"]}],"direction":"INGRESS","logConfig":{"enable":false},"disabled":false,"selfLink":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/firewalls/default-allow-ssh"}],"selfLink":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/firewalls"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            Etag:
                - Lso_31fCsGsfAeKLH_J4TjAOzsM=/2BgOuqiDv4Cr1oTI9ZKeR5WQ-Ow=
        status: 200 OK
        code: 200
        duration: 718.039542ms
