---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55657
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://compute.googleapis.com/projects/e2e-project/global/firewalls?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"items":[{"name":"allow-web","direction":"INGRESS","network":"projects/e2e-project/global/networks/default","priority":1000,"sourceRanges":["0.0.0.0/0"],"allowed":[{"IPProtocol":"tcp","ports":["80","443"]}],"disabled":false}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.980375ms
