---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: Action=ListUsers&Version=2010-05-08
        form:
            Action:
                - ListUsers
            Version:
                - "2010-05-08"
        headers:
            Amz-Sdk-Invocation-Id:
                - b9da1c20-3269-4788-8827-986fa2305581
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T072057Z
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: |
            <ListUsersResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
              <ListUsersResult>
                <IsTruncated>false</IsTruncated>
                <Users>
                  <member>
                    <Path>/</Path>
                    <UserName>example-admin</UserName>
                    <Arn>arn:aws:iam::000000000000:user/example-admin</Arn>
                    <UserId>AIDAEXAMPLE0000000001</UserId>
                    <CreateDate>2026-06-14T07:06:48Z</CreateDate>
                  </member>
                  <member>
                    <Path>/</Path>
                    <UserName>example-recorder</UserName>
                    <Arn>arn:aws:iam::000000000000:user/example-recorder</Arn>
                    <UserId>AIDAEXAMPLE0000000002</UserId>
                    <CreateDate>2026-06-21T18:17:39Z</CreateDate>
                  </member>
                </Users>
              </ListUsersResult>
              <ResponseMetadata>
                <RequestId>737b38d3-a6d3-444a-813d-9a4ec255d504</RequestId>
              </ResponseMetadata>
            </ListUsersResponse>
        headers:
            Content-Type:
                - text/xml
            X-Amzn-Requestid:
                - 737b38d3-a6d3-444a-813d-9a4ec255d504
        status: 200 OK
        code: 200
        duration: 5.746112917s
    - id: 1
      request:
        host: ""
        body: Action=GetAccountSummary&Version=2010-05-08
        form:
            Action:
                - GetAccountSummary
            Version:
                - "2010-05-08"
        headers:
            Amz-Sdk-Invocation-Id:
                - 8e271f8b-557e-4cf8-9f31-85d9eb677d96
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T072102Z
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: |
            <GetAccountSummaryResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
              <GetAccountSummaryResult>
                <SummaryMap>
                  <entry>
                    <key>GroupPolicySizeQuota</key>
                    <value>5120</value>
                  </entry>
                  <entry>
                    <key>InstanceProfilesQuota</key>
                    <value>1000</value>
                  </entry>
                  <entry>
                    <key>Policies</key>
                    <value>0</value>
                  </entry>
                  <entry>
                    <key>GroupsPerUserQuota</key>
                    <value>10</value>
                  </entry>
                  <entry>
                 [...]
