---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 361314e7-9e1b-4607-aa58-37e393a78a3b
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260628T084415Z
            X-Amz-Target:
                - DynamoDB_20120810.ListTables
        url: https://dynamodb.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"TableNames":["e2e-table"]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Crc32:
                - "2926728674"
            X-Amzn-Requestid:
                - 1R4AUUEKJKDD0T7D4586Q6GO3NVV4KQNSO5AEMVJF66Q9ASUAAJG
        status: 200 OK
        code: 200
        duration: 5.829906s
    - id: 1
      request:
        host: ""
        body: '{"TableName":"e2e-table"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - f2c2b015-543a-470e-9449-0f0dbd92466f
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260628T084421Z
            X-Amz-Target:
                - DynamoDB_20120810.DescribeTable
        url: https://dynamodb.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Table":{"AttributeDefinitions":[{"AttributeName":"id","AttributeType":"S"}],"BillingModeSummary":{"BillingMode":"PAY_PER_REQUEST","LastUpdateToPayPerRequestDateTime":1.782636092957E9},"CreationDateTime":1.782636092957E9,"DeletionProtectionEnabled":true,"ItemCount":0,"KeySchema":[{"AttributeName":"id","KeyType":"HASH"}],"ProvisionedThroughput":{"NumberOfDecreasesToday":0,"ReadCapacityUnits":0,"WriteCapacityUnits":0},"SSEDescription":{"KMSMasterKeyArn":"arn:aws:kms:us-east-1:000000000000:key/c8e91989-7720-4eff-8a63-84ae7efc0882","SSEType":"KMS","Status":"ENABLED"},"TableArn":"arn:aws:dynamodb:us-east-1:000000000000:table/e2e-table","TableId":"bae35341-3214-441e-933a-0110c92db49a","TableName":"e2e-table","TableSizeBytes":0,"TableStatus":"ACTIVE","TableThroughputModeSummary":{"LastUpdateToPayPerRequestDateTime":1.782636092957E9,"TableThroughputMode":"PAY_PER_REQUEST"},"WarmThroughput":{"ReadUnitsPerSecond":12000,"Status":"ACTIVE","WriteUnitsPerSecond":4000}}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Crc32:
                - "533078793"
            X-Amzn-Requestid:
                - MO4S76E1KVGOU9QJ1TL3PLCHC3VV4KQNSO5AEMVJF66Q9ASUAAJG
        status: 200 OK
        code: 200
        duration: 307.501209ms
    - id: 2
      request:
        host: ""
        body: '{"TableName":"e2e-table"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 9407621b-8aeb-4a93-ac84-1b7ae1a8580c
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Date:
                - 20260628T084427Z
            X-Amz-Target:
                - DynamoDB_20120810.DescribeContinuousBackups
        url: https://dynamodb.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"ContinuousBackupsDescription":{"ContinuousBackupsStatus":"ENABLED","PointInTimeRecoveryDescription":{"EarliestRestorableDateTime":1.782636115E9,"LatestRestorableDateTime":1.782636115E9,"PointInTimeRecoveryStatus":"ENABLED","PointInTimeRecoveryWindowDays":35,"RecoveryPeriodInDays":35}}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.0
            X-Amz-Crc32:
                - "2743329650"
            X-Amzn-Requestid:
                - EAGO51K22RR4HM31JBCNCQOSO3VV4KQNSO5AEMVJF66Q9ASUAAJG
        status: 200 OK
        code: 200
        duration: 637.620583ms
