---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: Action=DescribeDBInstances&Version=2014-10-31
        form:
            Action:
                - DescribeDBInstances
            Version:
                - "2014-10-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - c0f698e8-67ea-49dc-a040-e61806d40224
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T085628Z
        url: https://rds.us-east-1.amazonaws.com/
        method: POST
      response:
        body: |-
            <DescribeDBInstancesResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/">
            <DescribeDBInstancesResult><DBInstances><DBInstance>
            <DBInstanceIdentifier>e2e-postgres</DBInstanceIdentifier>
            <DBInstanceArn>arn:aws:rds:us-east-1:000000000000:db:e2e-postgres</DBInstanceArn>
            <Engine>postgres</Engine><EngineVersion>15.4</EngineVersion>
            <DBInstanceStatus>available</DBInstanceStatus>
            <StorageEncrypted>true</StorageEncrypted>
            <PubliclyAccessible>false</PubliclyAccessible>
            <BackupRetentionPeriod>7</BackupRetentionPeriod>
            <MultiAZ>false</MultiAZ>
            <DeletionProtection>true</DeletionProtection>
            <KmsKeyId>arn:aws:kms:us-east-1:000000000000:key/example-rds-key</KmsKeyId>
            <DBParameterGroups><DBParameterGroup>
            <DBParameterGroupName>e2e-pg15</DBParameterGroupName>
            <ParameterApplyStatus>in-sync</ParameterApplyStatus>
            </DBParameterGroup></DBParameterGroups>
            </DBInstance></DBInstances></DescribeDBInstancesResult>
            </DescribeDBInstancesResponse>
        headers:
            Content-Type:
                - text/xml
        status: 200 OK
        code: 200
        duration: 555µs
    - id: 1
      request:
        host: ""
        body: Action=DescribeDBParameters&DBParameterGroupName=e2e-pg15&Version=2014-10-31
        form:
            Action:
                - DescribeDBParameters
            DBParameterGroupName:
                - e2e-pg15
            Version:
                - "2014-10-31"
        headers:
            Amz-Sdk-Invocation-Id:
                - 6261cc78-5557-4078-8180-419a3975fb9e
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T085628Z
        url: https://rds.us-east-1.amazonaws.com/
        method: POST
      response:
        body: |-
            <DescribeDBParametersResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/">
            <DescribeDBParametersResult><Parameters>
            <Parameter><ParameterName>rds.force_ssl</ParameterName><ParameterValue>1</ParameterValue></Parameter>
            </Parameters></DescribeDBParametersResult>
            </DescribeDBParametersResponse>
        headers:
            Content-Type:
                - text/xml
        status: 200 OK
        code: 200
        duration: 113.75µs
