---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - b3de5d66-2465-42f8-952c-85c849476969
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T085237Z
            X-Amz-Target:
                - TrentService.ListKeys
        url: https://kms.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"KeyCount":3,"Keys":[{"KeyArn":"arn:aws:kms:us-east-1:000000000000:key/c8e91989-7720-4eff-8a63-84ae7efc0882","KeyId":"c8e91989-7720-4eff-8a63-84ae7efc0882"},{"KeyArn":"arn:aws:kms:us-east-1:000000000000:key/d027a993-6345-4a2a-b813-5c86861aa934","KeyId":"d027a993-6345-4a2a-b813-5c86861aa934"},{"KeyArn":"arn:aws:kms:us-east-1:000000000000:key/d8137e9d-fdac-438a-8f14-30227264a9cc","KeyId":"d8137e9d-fdac-438a-8f14-30227264a9cc"}],"Truncated":false}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 1c3d6934-e473-4309-b499-2a3cf3011901
        status: 200 OK
        code: 200
        duration: 5.699202875s
    - id: 1
      request:
        host: ""
        body: '{"KeyId":"c8e91989-7720-4eff-8a63-84ae7efc0882"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 91dce0bf-ecd7-41a4-83a7-8ade5292414a
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T085243Z
            X-Amz-Target:
                - TrentService.DescribeKey
        url: https://kms.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"KeyMetadata":{"AWSAccountId":"000000000000","Arn":"arn:aws:kms:us-east-1:000000000000:key/c8e91989-7720-4eff-8a63-84ae7efc0882","CreationDate":1.781381787403E9,"CurrentKeyMaterialId":"8fb23aedb5b43e27340b465a98fe0c0088af1822310d8a816bedbbbc325e8f39","CustomerMasterKeySpec":"SYMMETRIC_DEFAULT","Description":"Default key that protects my DynamoDB data when no other key is defined","Enabled":true,"EncryptionAlgorithms":["SYMMETRIC_DEFAULT"],"KeyId":"c8e91989-7720-4eff-8a63-84ae7efc0882","KeyManager":"AWS","KeySpec":"SYMMETRIC_DEFAULT","KeyState":"Enabled","KeyUsage":"ENCRYPT_DECRYPT","MultiRegion":false,"Origin":"AWS_KMS"}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - e568929d-c92a-4db4-a58e-6f135860eabf
        status: 200 OK
        code: 200
        duration: 208.461542ms
[...]
    - id: 4
      request:
        host: ""
        body: '{"KeyId":"d8137e9d-fdac-438a-8f14-30227264a9cc"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - e466c8ac-1ee4-4af1-a0e0-1dc02fc0e1aa
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T085250Z
            X-Amz-Target:
                - TrentService.GetKeyRotationStatus
        url: https://kms.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"KeyId":"arn:aws:kms:us-east-1:000000000000:key/d8137e9d-fdac-438a-8f14-30227264a9cc","KeyRotationEnabled":true,"NextRotationDate":1.814172754045E9,"RotationPeriodInDays":365}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - c499e263-5dab-44e4-b40f-0057e67bc68b
        status: 200 OK
        code: 200
        duration: 212.655084ms
