---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56208
        form:
            api-version:
                - "2025-04-01"
            statusOnly:
                - "true"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/virtualMachines?api-version=2025-04-01&statusOnly=true
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Compute/virtualMachines/e2evm","name":"e2evm","location":"eastus","properties":{"hardwareProfile":{"vmSize":"Standard_D2s_v3"},"storageProfile":{"osDisk":{"osType":"Linux","managedDisk":{"diskEncryptionSet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Compute/diskEncryptionSets/e2edes"}}}},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Network/networkInterfaces/e2enic"}]},"securityProfile":{"encryptionAtHost":true},"instanceView":{"statuses":[{"code":"PowerState/running"}]}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.557458ms
    - id: 1
      request:
        host: 127.0.0.1:56208
        form:
            api-version:
                - "2025-05-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Network/networkInterfaces/e2enic?api-version=2025-05-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Network/networkInterfaces/e2enic","name":"e2enic","location":"eastus","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{}}]}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.833µs
