---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        form:
            api-version:
                - "2025-04-01"
            statusOnly:
                - "true"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/virtualMachines?api-version=2025-04-01&statusOnly=true
        method: GET
      response:
        body: '{"value":[{"name":"sigcomply-e2e-vm","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SIGCOMPLY-E2E-RG/providers/Microsoft.Compute/virtualMachines/sigcomply-e2e-vm","type":"Microsoft.Compute/virtualMachines","location":"eastus","properties":{"hardwareProfile":{},"provisioningState":"Succeeded","vmId":"3ec2e7ae-4adb-4725-963f-770c4e47f03a","instanceView":{"platformFaultDomain":0,"statuses":[{"code":"ProvisioningState/succeeded","level":"Info","displayStatus":"Provisioning succeeded","time":"2026-07-26T17:52:02.6114131+00:00"},{"code":"PowerState/running","level":"Info","displayStatus":"VM running"}]}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Need-To-Refresh-Epl-Cache:
                - "False"
            X-Ms-Original-Request-Ids:
                - e2faa9b9-c8c4-4fef-a709-13829d3249ba
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/HighCostGetSubscriptionMaximum;899
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.129221375s
