---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55885
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://backupdr.googleapis.com/v1/projects/e2e-project/locations/-/backupPlans?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"backupPlans":[{"name":"projects/e2e-project/locations/us-central1/backupPlans/daily","state":"ACTIVE","resourceType":"compute.googleapis.com/Instance","backupVault":"projects/e2e-project/locations/us-central1/backupVaults/vault","backupRules":[{"ruleId":"r1","backupRetentionDays":30}]}],"unreachable":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.0785ms
