---
version: 2
interactions:
    - id: 0
      request:
        host: backupdr.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://backupdr.googleapis.com/v1/projects/e2e-project/locations/-/backupPlans?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"backupPlans":[{"name":"projects/e2e-project/locations/us-central1/backupPlans/sigcomply-e2e-bp","backupRules":[{"ruleId":"daily-30","backupRetentionDays":30,"standardSchedule":{"recurrenceType":"WEEKLY","daysOfWeek":["SUNDAY"],"backupWindow":{"startHourOfDay":1,"endHourOfDay":6},"timeZone":"UTC"}}],"state":"ACTIVE","resourceType":"compute.googleapis.com/Instance","etag":"htLWxayE--PPvFWmUpCq9B45Hl4TPeMOWARfC_Gt_xo","backupVault":"projects/000000000000/locations/us-central1/backupVaults/sigcomply-e2e-bv","backupVaultServiceAccount":"user-aee11866eae5@example.com","supportedResourceTypes":["compute.googleapis.com/Instance"],"revisionId":"v0","revisionName":"projects/000000000000/locations/us-central1/backupPlans/sigcomply-e2e-bp/revisions/74dcc8f3","createTime":"2026-07-26T19:44:22.026627849Z","updateTime":"2026-07-26T19:44:29.595548571Z"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.262792583s
