---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56316
        form:
            api-version:
                - "2023-04-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2023-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.RecoveryServices/vaults/e2evault","name":"e2evault","type":"Microsoft.RecoveryServices/vaults","location":"eastus","properties":{"provisioningState":"Succeeded"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.282417ms
    - id: 1
      request:
        host: 127.0.0.1:56316
        form:
            api-version:
                - "2025-02-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.RecoveryServices/vaults/e2evault/backupPolicies?api-version=2025-02-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.RecoveryServices/vaults/e2evault/backupPolicies/daily","name":"daily","type":"Microsoft.RecoveryServices/vaults/backupPolicies","location":"eastus","properties":{"backupManagementType":"AzureIaasVM","protectedItemsCount":5,"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionDuration":{"count":30,"durationType":"Days"}}}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.375µs
