---
version: 2
interactions:
    - id: 0
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"locations":[{"name":"projects/e2e-project/locations/africa-south1","labels":{"cloud.googleapis.com/region":"africa-south1"},"locationId":"africa-south1"},{"name":"projects/e2e-project/locations/asia","labels":{"cloud.googleapis.com/region":"asia"},"locationId":"asia"},{"name":"projects/e2e-project/locations/asia-east1","labels":{"cloud.googleapis.com/region":"asia-east1"},"locationId":"asia-east1"},{"name":"projects/e2e-project/locations/asia-east2","labels":{"cloud.googleapis.com/region":"asia-east2"},"locationId":"asia-east2"},{"name":"projects/e2e-project/locations/asia-northeast1","labels":{"cloud.googleapis.com/region":"asia[...]
    - id: 1
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/africa-south1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.085280416s
    - id: 2
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/asia/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 132.674083ms
    - id: 3
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/asia-east1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 382.050042ms
[...]
    - id: 5
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/asia-northeast1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 552.723667ms
[...]
    - id: 8
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/asia-south1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 535.619208ms
[...]
    - id: 10
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/asia-southeast1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 125.542292ms
[...]
    - id: 13
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/australia-southeast1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 800.660708ms
[...]
    - id: 15
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/europe/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.470971834s
    - id: 16
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/europe-central2/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.600438834s
    - id: 17
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/europe-north1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.700155125s
[...]
    - id: 19
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/europe-southwest1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.517587416s
    - id: 20
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/europe-west1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.627669375s
[...]
    - id: 29
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/me-central1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.647878708s
[...]
    - id: 31
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/me-west1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.639956208s
    - id: 32
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/northamerica-northeast1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.23557625s
[...]
    - id: 34
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/northamerica-south1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.378522542s
    - id: 35
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/southamerica-east1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.177041125s
    - id: 36
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/southamerica-west1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.760318417s
    - id: 37
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/us/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 522.683041ms
    - id: 38
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/us-central1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.398130583s
    - id: 39
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/us-east1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"repositories":[{"name":"projects/e2e-project/locations/us-east1/repositories/sigcomply-e2e-repo","format":"DOCKER","createTime":"2026-07-26T10:35:20.280075Z","updateTime":"2026-07-26T10:35:20.280075Z","mode":"STANDARD_REPOSITORY","vulnerabilityScanningConfig":{"lastEnableTime":"2026-07-26T10:35:01.975685006Z","enablementState":"SCANNING_DISABLED","enablementStateReason":"API containerscanning.googleapis.com is not enabled."},"satisfiesPzi":true}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.511242916s
[...]
    - id: 42
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/us-south1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 469.127875ms
    - id: 43
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/us-west1/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.304608959s
[...]
    - id: 47
      request:
        host: artifactregistry.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/us-east1/repositories/sigcomply-e2e-repo:getIamPolicy?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"etag":"ACAB"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.694362625s
