---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55830
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"locations":[{"locationId":"us","name":"projects/e2e-project/locations/us"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.146625ms
    - id: 1
      request:
        host: 127.0.0.1:55830
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/us/repositories?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"repositories":[{"name":"projects/e2e-project/locations/us/repositories/app","format":"DOCKER","mode":"STANDARD_REPOSITORY","registryUri":"us-docker.pkg.dev/e2e-project/app","kmsKeyName":"projects/e2e-project/locations/us/keyRings/r/cryptoKeys/k","dockerConfig":{"immutableTags":true},"vulnerabilityScanningConfig":{"enablementState":"SCANNING_ACTIVE"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.333µs
    - id: 2
      request:
        host: 127.0.0.1:55830
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://artifactregistry.googleapis.com/v1/projects/e2e-project/locations/us/repositories/app:getIamPolicy?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"bindings":[{"role":"roles/artifactregistry.reader","members":["serviceAccount:user@example.com"]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140µs
