---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56632
        headers:
            Authorization:
                - REDACTED
        url: https://graph.microsoft.com/v1.0/reports/authenticationMethods/userRegistrationDetails
        method: GET
      response:
        body: '{"value":[{"id":"u-alice","isAdmin":true,"isMfaRegistered":true},{"id":"u-bob","isAdmin":false,"isMfaRegistered":false}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 732.042µs
    - id: 1
      request:
        host: 127.0.0.1:56632
        form:
            $select:
                - id,userPrincipalName,mail,displayName,accountEnabled,signInActivity
            $top:
                - "500"
        headers:
            Authorization:
                - REDACTED
        url: https://graph.microsoft.com/v1.0/users?$select=id,userPrincipalName,mail,displayName,accountEnabled,signInActivity&$top=500
        method: GET
      response:
        body: '{"value":[{"id":"u-alice","userPrincipalName":"alice@example.com","mail":"alice@example.com","displayName":"Alice Admin","accountEnabled":true,"signInActivity":{"lastSignInDateTime":"2026-06-20T10:00:00Z"}},{"id":"u-bob","userPrincipalName":"bob@example.com","mail":"bob@example.com","displayName":"Bob User","accountEnabled":true,"signInActivity":{"lastSignInDateTime":"2026-06-15T10:00:00Z"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167µs
    - id: 2
      request:
        host: 127.0.0.1:56632
        form:
            $select:
                - id,mail,userPrincipalName,displayName,accountEnabled,userType,employeeId,employeeType
            $top:
                - "999"
        headers:
            Authorization:
                - REDACTED
        url: https://graph.microsoft.com/v1.0/users?$select=id,mail,userPrincipalName,displayName,accountEnabled,userType,employeeId,employeeType&$top=999
        method: GET
      response:
        body: '{"value":[{"id":"u-alice","mail":"alice@example.com","userPrincipalName":"alice@example.com","displayName":"Alice Admin","accountEnabled":true,"userType":"Member","employeeId":"E100","employeeType":"Employee"},{"id":"u-carol","mail":null,"userPrincipalName":"carol@example.com","displayName":"Carol Leaver","accountEnabled":false,"userType":"Member","employeeId":null,"employeeType":null},{"id":"u-guest","mail":"guest@example.org","userPrincipalName":"guest_example.org#EXT#@example.com","displayName":"Guest Partner","accountEnabled":true,"userType":"Guest","employeeId":null,"employeeType":null}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170µs
    - id: 3
      request:
        host: 127.0.0.1:56632
        headers:
            Authorization:
                - REDACTED
        url: https://graph.microsoft.com/v1.0/organization?$select=id
        method: GET
      response:
        body: '{"value":[{"id":"9f8a7b6c-5d4e-3f2a-1b0c-9d8e7f6a5b4c"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 732.042µs
    - id: 4
      request:
        host: 127.0.0.1:56632
        headers:
            Authorization:
                - REDACTED
        url: https://graph.microsoft.com/v1.0/domains
        method: GET
      response:
        body: '{"value":[{"authenticationType":"Managed","availabilityStatus":null,"id":"contoso.com","isAdminManaged":true,"isDefault":true,"isInitial":false,"isRoot":true,"isVerified":true,"passwordNotificationWindowInDays":14,"passwordValidityPeriodInDays":90,"state":null,"supportedServices":["Email","OfficeCommunicationsOnline"]},{"authenticationType":"Managed","availabilityStatus":null,"id":"contoso.onmicrosoft.com","isAdminManaged":true,"isDefault":false,"isInitial":true,"isRoot":true,"isVerified":true,"passwordNotificationWindowInDays":14,"passwordValidityPeriodInDays":2147483647,"state":null,"supportedServices":["Email","OfficeCommunicationsOnline"]},{"authenticationType":"Managed","availabilityStatus":null,"id":"unverified.contoso.com","isAdminManaged":true,"isDefault":false,"isInitial":false,"isRoot":true,"isVerified":false,"passwordNotificationWindowInDays":null,"passwordValidityPeriodInDays":null,"state":{"status":"PendingActivation","lastActionDateTime":"2026-06-01T00:00:00Z"},"supportedServices":[]},{"authenticationType":"Federated","availabilityStatus":null,"id":"fabrikam.com","isAdminManaged":true,"isDefault":false,"isInitial":false,"isRoot":true,"isVerified":true,"passwordNotificationWindowInDays":14,"passwordValidityPeriodInDays":60,"state":null,"supportedServices":["Email"]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210µs
