# PROVENANCE — NOT RECORDED AGAINST A LIVE TENANT.
#
# SigComply has no AWS IAM Identity Center tenant, so this cassette could not
# be recorded from real traffic. It was CONSTRUCTED:
#
#   * the REQUEST side (URL, method, X-Amz-Target, body) is genuine — produced
#     by driving the real aws-sdk-go-v2 identitystore + ssoadmin clients, whose
#     serializers are generated from the published Smithy models
#     (aws/aws-sdk-go-v2 codegen/sdk-codegen/aws-models/{identitystore,sso-admin}.json),
#[...]
    - id: 0
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 4ef2f411-2bca-46b4-ad7f-61bc4d86b248
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260920T100452Z
            X-Amz-Target:
                - SWBExternalService.ListInstances
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Instances":[{"CreatedDate":1.7182944E9,"IdentityStoreId":"d-9067012345","InstanceArn":"arn:aws:sso:::instance/ssoins-7223bcdeffedcbaa","Name":"example-instance","OwnerAccountId":"000000000000","Status":"ACTIVE"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 1c3d6934-e473-4309-b499-2a3cf3011901
        status: 200 OK
        code: 200
        duration: 6.625µs
    - id: 1
      request:
        host: ""
        body: '{"IdentityStoreId":"d-9067012345"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - f80c29e6-0a9d-497a-b2ad-f90cd4b85d55
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260920T100452Z
            X-Amz-Target:
                - AWSIdentityStore.ListUsers
        url: https://identitystore.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"NextToken":"eyJwYWdlIjoyfQ","Users":[{"CreatedAt":1.7182944E9,"DisplayName":"Ada Example","Emails":[{"Primary":true,"Type":"work","Value":"user-a1b2c3@example.com"}],"IdentityStoreId":"d-9067012345","Name":{"FamilyName":"Example","Formatted":"Ada Example","GivenName":"Ada"},"UserId":"90677c50-e0f1-70ab-7e94-1a2b3c4d5e6f","UserName":"example-user","UserStatus":"ENABLED","UserType":"employee"},{"CreatedAt":1.7204832E9,"Emails":[{"Primary":true,"Type":"work","Value":"user-d4e5f6@example.com"}],"IdentityStoreId":"d-9067012345","Name":{"FamilyName":"Example","GivenName":"Dana"},"UserId":"b0e7fc40-a021-7033-1b55-6f7e8d9c0a1b","UserName":"example-user-2","UserStatus":"DISABLED"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 1c3d6934-e473-4309-b499-2a3cf3011901
        status: 200 OK
        code: 200
        duration: 4.375µs
[...]
    - id: 3
      request:
        host: ""
        body: '{"InstanceArn":"arn:aws:sso:::instance/ssoins-7223bcdeffedcbaa"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 05637c1e-95d4-416e-a9c2-94a7abdfd6ca
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260919T000000Z
            X-Amz-Target:
                - SWBExternalService.ListPermissionSets
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"PermissionSets":["arn:aws:sso:::permissionSet/ssoins-7223bcdeffedcbaa/ps-1111111111111111","arn:aws:sso:::permissionSet/ssoins-7223bcdeffedcbaa/ps-2222222222222222"]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 1c3d6934-e473-4309-b499-2a3cf3011901
        status: 200 OK
        code: 200
        duration: 2.583µs
    - id: 4
      request:
        host: ""
        body: '{"InstanceArn":"arn:aws:sso:::instance/ssoins-7223bcdeffedcbaa","PermissionSetArn":"arn:aws:sso:::permissionSet/ssoins-7223bcdeffedcbaa/ps-1111111111111111"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - b2e3cb59-e73b-4bb7-9535-500c8cf9e2a4
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260919T000000Z
            X-Amz-Target:
                - SWBExternalService.DescribePermissionSet
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"PermissionSet":{"CreatedDate":1.7182944E9,"Description":"Full administrative access","Name":"AdministratorAccess","PermissionSetArn":"arn:aws:sso:::permissionSet/ssoins-7223bcdeffedcbaa/ps-1111111111111111","SessionDuration":"PT8H"}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 1c3d6934-e473-4309-b499-2a3cf3011901
        status: 200 OK
        code: 200
        duration: 7.667µs
    - id: 5
      request:
        host: ""
        body: '{"InstanceArn":"arn:aws:sso:::instance/ssoins-7223bcdeffedcbaa","PermissionSetArn":"arn:aws:sso:::permissionSet/ssoins-7223bcdeffedcbaa/ps-1111111111111111"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 9be748aa-ed62-4144-994e-5b05d255e401
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260919T000000Z
            X-Amz-Target:
                - SWBExternalService.ListManagedPoliciesInPermissionSet
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"AttachedManagedPolicies":[{"Arn":"arn:aws:iam::aws:policy/AdministratorAccess","Name":"AdministratorAccess"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 1c3d6934-e473-4309-b499-2a3cf3011901
        status: 200 OK
        code: 200
        duration: 3.458µs
[...]
    - id: 8
      request:
        host: ""
        body: '{"InstanceArn":"arn:aws:sso:::instance/ssoins-7223bcdeffedcbaa","PermissionSetArn":"arn:aws:sso:::permissionSet/ssoins-7223bcdeffedcbaa/ps-1111111111111111"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - b3b63058-dd0d-40a6-8b29-27967596ab54
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260919T000000Z
            X-Amz-Target:
                - SWBExternalService.ListAccountsForProvisionedPermissionSet
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"AccountIds":["000000000000"]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 1c3d6934-e473-4309-b499-2a3cf3011901
        status: 200 OK
        code: 200
        duration: 3.083µs
    - id: 9
      request:
        host: ""
        body: '{"AccountId":"000000000000","InstanceArn":"arn:aws:sso:::instance/ssoins-7223bcdeffedcbaa","PermissionSetArn":"arn:aws:sso:::permissionSet/ssoins-7223bcdeffedcbaa/ps-1111111111111111"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 69ab6e82-bc3e-48e5-8ee3-c7f96cf720e1
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260919T000000Z
            X-Amz-Target:
                - SWBExternalService.ListAccountAssignments
        url: https://sso.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"AccountAssignments":[{"AccountId":"000000000000","PermissionSetArn":"arn:aws:sso:::permissionSet/ssoins-7223bcdeffedcbaa/ps-1111111111111111","PrincipalId":"9067abcd-1111-2222-3333-000000000000","PrincipalType":"GROUP"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 1c3d6934-e473-4309-b499-2a3cf3011901
        status: 200 OK
        code: 200
        duration: 11.584µs
    - id: 10
      request:
        host: ""
        body: '{"GroupId":"9067abcd-1111-2222-3333-000000000000","IdentityStoreId":"d-9067012345"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 0825086d-34d5-4f7a-84db-e6d0b4a4f51a
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260919T000000Z
            X-Amz-Target:
                - AWSIdentityStore.ListGroupMemberships
        url: https://identitystore.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"GroupMemberships":[{"GroupId":"9067abcd-1111-2222-3333-000000000000","IdentityStoreId":"d-9067012345","MemberId":{"UserId":"90677c50-e0f1-70ab-7e94-1a2b3c4d5e6f"},"MembershipId":"90671111-2222-3333-4444-000000000000"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 1c3d6934-e473-4309-b499-2a3cf3011901
        status: 200 OK
        code: 200
        duration: 3.208µs
[...]
