---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55197
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://sqladmin.googleapis.com/v1/projects/e2e-project/instances?alt=json&prettyPrint=false
        method: GET
      response:
        body: |-
            {"items":[{
            "name":"e2e-pg","databaseVersion":"POSTGRES_15","region":"us-central1","state":"RUNNABLE",
            "settings":{"availabilityType":"REGIONAL","deletionProtectionEnabled":true,
            "ipConfiguration":{"ipv4Enabled":false,"requireSsl":true,"sslMode":"ENCRYPTED_ONLY"},
            "backupConfiguration":{"enabled":true,"pointInTimeRecoveryEnabled":true}}
            }]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.040125ms
