---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        headers:
            Amz-Sdk-Invocation-Id:
                - 965a0163-428b-4ed4-a958-14c9d95e3ab5
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            X-Amz-Date:
                - 20260628T112034Z
        url: https://macie2.us-east-1.amazonaws.com/macie
        method: GET
      response:
        body: '{"message":"Macie is not enabled"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - fq182Gx6oAMEJmw=
            X-Amzn-Errortype:
                - AccessDeniedException
            X-Amzn-Remapped-Content-Length:
                - "34"
            X-Amzn-Remapped-Date:
                - Sun, 28 Jun 2026 11:20:37 GMT
            X-Amzn-Remapped-X-Amzn-Requestid:
                - 45fb0e37-537d-4ba4-abd8-b3dd96278aa9
            X-Amzn-Requestid:
                - e309720e-dbb2-4ee6-bba9-89aad9fb1f6a
        status: 403 Forbidden
        code: 403
        duration: 2.976234292s
    - id: 1
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 797f1062-8029-4416-b3db-4a286d58c657
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            X-Amz-Date:
                - 20260628T112040Z
        url: https://inspector2.us-east-1.amazonaws.com/status/batch/get
        method: POST
      response:
        body: '{"accounts":[{"accountId":"000000000000","resourceState":{"ami":{"status":"DISABLED"},"codeRepository":{"status":"DISABLED"},"ec2":{"status":"DISABLED"},"ecr":{"status":"DISABLED"},"lambda":{"status":"DISABLED"},"lambdaCode":{"status":"DISABLED"}},"state":{"status":"DISABLED"}}],"failedAccounts":[]}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - fq190FQloAMEizA=
            X-Amzn-Requestid:
                - e40e7287-6543-4271-b7cc-580ef8b60cb3
        status: 200 OK
        code: 200
        duration: 3.141008375s
    - id: 2
      request:
        host: ""
        headers:
            Amz-Sdk-Invocation-Id:
                - abcdd4e7-bf07-4270-8745-3591d321bcea
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            X-Amz-Date:
                - 20260628T112046Z
        url: https://securityhub.us-east-1.amazonaws.com/accounts
        method: GET
      response:
        body: '{"Code":"InvalidAccessException","Type":"InvalidAccessException","RequestId":"282a909f-dc58-4857-a5fb-29af4b6741f2","Message":"Account 000000000000 is not subscribed to AWS Security Hub"}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - fq1-wHGwIAMEL_Q=
            X-Amzn-Errortype:
                - InvalidAccessException
            X-Amzn-Requestid:
                - 4de6db55-0b46-4a0d-8210-d3abbd424a96
        status: 401 Unauthorized
        code: 401
        duration: 2.902888791s
