---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55801
        body: |
            {"options":{"requestedPolicyVersion":3}}
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v3/projects/e2e-project:getIamPolicy?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"version":3,"auditConfigs":[{"service":"allServices","auditLogConfigs":[{"logType":"ADMIN_ACTIVITY"},{"logType":"DATA_READ"},{"logType":"DATA_WRITE"}]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 890.417µs
    - id: 1
      request:
        host: 127.0.0.1:55801
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://logging.googleapis.com/v2/projects/e2e-project/cmekSettings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"projects/e2e-project/cmekSettings","kmsKeyName":"projects/e2e-project/locations/us/keyRings/r/cryptoKeys/k"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.708µs
