---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        form:
            api-version:
                - 2021-02-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/servers?api-version=2021-02-01-preview
        method: GET
      response:
        body: '{"value":[{"kind":"v12.0","properties":{"administratorLogin":"sqladmin","version":"12.0","state":"Ready","fullyQualifiedDomainName":"sigcomply-e2e-sql1cd7.database.windows.net","privateEndpointConnections":[],"minimalTlsVersion":"1.2","publicNetworkAccess":"Disabled","restrictOutboundNetworkAccess":"Disabled"},"location":"westus3","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-sqlrg/providers/Microsoft.Sql/servers/sigcomply-e2e-sql1cd7","name":"sigcomply-e2e-sql1cd7","type":"Microsoft.Sql/servers"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Original-Request-Ids:
                - f9083ec3-6cd9-4780-ba1b-392d909dd4ea
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.896894708s
    - id: 1
      request:
        host: management.azure.com
        form:
            api-version:
                - 2021-05-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-sqlrg/providers/Microsoft.Sql/servers/sigcomply-e2e-sql1cd7/databases?api-version=2021-05-01-preview
        method: GET
      response:
        body: '{"value":[{"sku":{"name":"Standard","tier":"Standard","capacity":10},"kind":"v12.0,user","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":0,"status":"Online","databaseId":"72cf794f-1781-48cb-a008-759b2c945187","creationDate":"2026-07-26T18:31:17.557Z","currentServiceObjectiveName":"S0","requestedServiceObjectiveName":"S0","defaultSecondaryLocation":"eastus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"readScale":"Disabled","currentSku":{"name":"Standard","tier":"Standard","capacity":10},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false},"location":"westus3","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-sqlrg/providers/Microsoft.Sql/servers/sigcomply-e2e-sql1cd7/databases/e2edb","name":"e2edb","type":"Microsoft.Sql/servers/databases"},{"sku":{"name":"GP_SYSTEM","tier":"System","family":"SYSTEM","capacity":4},"kind":"v12.0,system,serverless","managedBy":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-sqlrg/providers/Microsoft.Sql/servers/sigcomply-e2e-sql1cd7","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":0,"status":"Online","databaseId":"757ebd6a-6210-4b7b-9e9f-c2d0209bbf29","creationDate":"2026-07-26T18:29:48.82Z","currentServiceObjectiveName":"GP_SYSTEM_4","requestedServiceObjectiveName":"GP_SYSTEM_4","defaultSecondaryLocation":"eastus","catalogCollation":"SQL_Latin1_General_CP1_CI_[...]
    - id: 2
      request:
        host: management.azure.com
        form:
            api-version:
                - 2021-02-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-sqlrg/providers/Microsoft.Sql/servers/sigcomply-e2e-sql1cd7/databases/e2edb/transparentDataEncryption/current?api-version=2021-02-01-preview
        method: GET
      response:
        body: '{"properties":{"state":"Enabled"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-sqlrg/providers/Microsoft.Sql/servers/sigcomply-e2e-sql1cd7/databases/e2edb/transparentDataEncryption/Current","name":"Current","type":"Microsoft.Sql/servers/databases/transparentDataEncryption"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3748"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "248"
        status: 200 OK
        code: 200
        duration: 322.50625ms
    - id: 3
      request:
        host: management.azure.com
        form:
            api-version:
                - "2025-08-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/flexibleServers?api-version=2025-08-01
        method: GET
      response:
        body: '{"value":[{"sku":{"name":"Standard_B1ms","tier":"Burstable"},"systemData":{"createdAt":"2026-07-26T18:30:58.3326172Z"},"properties":{"replica":{"role":"Primary","capacity":5},"storage":{"type":"Premium_LRS","iops":120,"tier":"P4","storageSizeGB":32,"autoGrow":"Disabled"},"network":{"publicNetworkAccess":"Disabled"},"privateEndpointConnections":[],"dataEncryption":{"type":"SystemManaged"},"authConfig":{"activeDirectoryAuth":"Disabled","passwordAuth":"Enabled"},"fullyQualifiedDomainName":"sigcomply-e2e-pg1cd7.postgres.database.azure.com","version":"18","minorVersion":"4","administratorLogin":"pgadmin","state":"Ready","availabilityZone":"1","backup":{"backupRetentionDays":7,"geoRedundantBackup":"Disabled","earliestRestoreDate":"2026-07-26T18:37:23.033817+00:00"},"highAvailability":{"mode":"Disabled","state":"NotEnabled"},"maintenanceWindow":{"customWindow":"Disabled","dayOfWeek":0,"startHour":0,"startMinute":0},"replicationRole":"Primary","replicaCapacity":5},"location":"West US 3","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-sqlrg/providers/Microsoft.DBforPostgreSQL/flexibleServers/sigcomply-e2e-pg1cd7","name":"sigcomply-e2e-pg1cd7","type":"Microsoft.DBforPostgreSQL/flexibleServers"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Original-Request-Ids:
                - c9501995-ed9b-4613-9b24-646ae8367bc1
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 2.061724375s
    - id: 4
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-12-30"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/flexibleServers?api-version=2024-12-30
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.142838166s
