---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56206
        form:
            api-version:
                - 2021-02-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/servers?api-version=2021-02-01-preview
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Sql/servers/e2esql","name":"e2esql","location":"eastus","properties":{"state":"Ready","version":"12.0","publicNetworkAccess":"Disabled","minimalTlsVersion":"1.2"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.4705ms
    - id: 1
      request:
        host: 127.0.0.1:56206
        form:
            api-version:
                - 2021-05-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Sql/servers/e2esql/databases?api-version=2021-05-01-preview
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Sql/servers/e2esql/databases/appdb","name":"appdb","properties":{"zoneRedundant":true}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.791µs
    - id: 2
      request:
        host: 127.0.0.1:56206
        form:
            api-version:
                - 2021-02-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Sql/servers/e2esql/databases/appdb/transparentDataEncryption/current?api-version=2021-02-01-preview
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Sql/servers/e2esql/databases/appdb/transparentDataEncryption/current","name":"current","properties":{"state":"Enabled"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174µs
    - id: 3
      request:
        host: 127.0.0.1:56206
        form:
            api-version:
                - "2025-08-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/flexibleServers?api-version=2025-08-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.DBforPostgreSQL/flexibleServers/e2epg","name":"e2epg","location":"eastus","properties":{"version":"13","network":{"publicNetworkAccess":"Disabled"},"highAvailability":{"mode":"ZoneRedundant"},"backup":{"backupRetentionDays":7},"dataEncryption":{"type":"AzureKeyVault"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.833µs
    - id: 4
      request:
        host: 127.0.0.1:56206
        form:
            api-version:
                - "2021-05-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/flexibleServers?api-version=2021-05-01
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.208µs
