---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56290
        form:
            api-version:
                - "2024-01-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings?api-version=2024-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/VirtualMachines","name":"VirtualMachines","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Standard","subPlan":"P2"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/StorageAccounts","name":"StorageAccounts","type":"Microsoft.Security/pricings","properties":{"pricingTier":"Free"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.661583ms
    - id: 1
      request:
        host: 127.0.0.1:56290
        form:
            api-version:
                - 2019-01-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/subAssessments?api-version=2019-01-01-preview
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/subAssessments/a1","name":"a1","type":"Microsoft.Security/subAssessments","properties":{"displayName":"Outdated package CVE","id":"CVE-2025-1234","category":"Compute","severity":"High","status":{"code":"Unhealthy","severity":"High"},"resourceDetails":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Compute/virtualMachines/e2evm"},"remediation":"Patch the system"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.208µs
