---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55828
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://container.googleapis.com/v1/projects/e2e-project/locations/-/clusters?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"clusters":[{"name":"e2e-cluster","selfLink":"https://container.googleapis.com/v1/projects/e2e-project/zones/us-central1-a/clusters/e2e-cluster","location":"us-central1-a","status":"RUNNING","currentMasterVersion":"1.29.5-gke.100","loggingConfig":{"componentConfig":{"enableComponents":["SYSTEM_COMPONENTS","WORKLOADS"]}},"databaseEncryption":{"state":"ENCRYPTED","keyName":"projects/e2e-project/locations/us-central1/keyRings/r/cryptoKeys/k"},"privateClusterConfig":{"enablePrivateEndpoint":true},"releaseChannel":{"channel":"REGULAR"},"nodePools":[{"name":"default","management":{"autoUpgrade":true}}]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 559.5µs
