---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 9b9dc55e-fe78-40a9-839e-84bf0b80acc1
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T112415Z
            X-Amz-Target:
                - CertificateManager.ListCertificates
        url: https://acm.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"CertificateSummaryList":[{"CertificateArn":"arn:aws:acm:us-east-1:000000000000:certificate/e2e-cert-0001","DomainName":"e2e.example.com"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 487.125µs
    - id: 1
      request:
        host: ""
        body: '{"CertificateArn":"arn:aws:acm:us-east-1:000000000000:certificate/e2e-cert-0001"}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 137b808f-f69d-4c4a-a834-7ef206677ef0
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T112415Z
            X-Amz-Target:
                - CertificateManager.DescribeCertificate
        url: https://acm.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"Certificate":{"CertificateArn":"arn:aws:acm:us-east-1:000000000000:certificate/e2e-cert-0001","DomainName":"e2e.example.com","Status":"ISSUED","Type":"AMAZON_ISSUED","RenewalEligibility":"ELIGIBLE","KeyAlgorithm":"RSA_2048","InUseBy":["arn:aws:elasticloadbalancing:us-east-1:000000000000:loadbalancer/app/e2e/0001"],"NotAfter":1786492800}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 157.917µs
