---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56314
        form:
            api-version:
                - "2025-10-15"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/databaseAccounts?api-version=2025-10-15
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.DocumentDB/databaseAccounts/e2ecosmos","name":"e2ecosmos","type":"Microsoft.DocumentDB/databaseAccounts","location":"eastus","kind":"GlobalDocumentDB","properties":{"provisioningState":"Succeeded","keyVaultKeyURI":"https://e2evault.vault.azure.net/keys/k1/abc","disableLocalAuth":true,"isVirtualNetworkFilterEnabled":true,"publicNetworkAccess":"Disabled","backupPolicy":{"type":"Continuous","continuousModeProperties":{"tier":"Continuous30Days"}}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.744792ms
