---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        form:
            api-version:
                - "2025-10-15"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/databaseAccounts?api-version=2025-10-15
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.DocumentDB/databaseAccounts/sigcomplye2ecosmos1cd7","name":"sigcomplye2ecosmos1cd7","location":"East US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2026-07-26T18:22:26.2807705Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://sigcomplye2ecosmos1cd7.documents.azure.com:443/","sqlEndpoint":"https://sigcomplye2ecosmos1cd7.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":true,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"1a77a217-90c8-4f91-b196-66d628368bbf","createMode":"Default","databaseAccountOfferType":"Standard","defaultIdentity":"FirstPartyIdentity","networkAclBypass":"None","disableLocalAuth":false,"enablePartitionMerge":false,"enablePerRegionPerPartitionAutoscale":true,"enableBurstCapacity":false,"enablePriorityBasedExecution":false,"defaultPriorityLevel":"High","minimalTlsVersion":"Tls12","enablePerPartitionAutomaticFailover":false,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{"EnablePerRegionPerPartitionAutoscaleOptIn":"True"},"writeLocations":[{"id":"sigcomplye2ecosmos1cd7-eastus2","locationName":"East US 2","documentEndpoint":"https://sigcomplye2ecosmos1cd7-eastus2.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"sigcomplye2ecosmos1cd7-eastus2","locationName":"East US 2","documentEndpoint":"https://sigcomplye2ecosmos1cd7-eastus2.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"sigcomplye2ecosmos1cd7-eastus2","locationName":"East US 2","documentEndpoint":"https://sigcomplye2ecosmos1cd7-eastus2.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"sigcomplye2ecosmos1cd7-eastus2","locationName":"East US 2","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Continuous","continuousModeProperties":{"tier":"Continuous30Days"}},"networkAclBypassResourceIds":[],"keysMetadata":{"primaryMasterKey":{"generationTime":"2026-07-26T18:22:26.2807705Z"},"secondaryMasterKey":{"generationTime":"2026-07-26T18:22:26.2807705Z"},"primaryReadonlyMasterKey":{"generationTime":"2026-07-26T18:22:26.2807705Z"},"secondaryReadonlyMasterKey":{"generationTime":"2026-07-26T18:22:26.2807705Z"}}},"identity":{"type":"None"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Gatewayversion:
                - version=2.14.0
            X-Ms-Original-Request-Ids:
                - ""
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.517943833s
