---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56270
        form:
            api-version:
                - "2025-03-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments?api-version=2025-03-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/require-encryption","name":"require-encryption","type":"Microsoft.Authorization/policyAssignments","properties":{"scope":"/subscriptions/00000000-0000-0000-0000-000000000000","enforcementMode":"Default","policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/def1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.Authorization/policyAssignments/audit-rg","name":"audit-rg","type":"Microsoft.Authorization/policyAssignments","properties":{"scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg","enforcementMode":"DoNotEnforce"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.332459ms
