---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        form:
            api-version:
                - "2025-03-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments?api-version=2025-03-01
        method: GET
      response:
        body: '{"value":[{"properties":{"displayName":"sigcomply e2e allowed locations","policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/e56962a6-4747-49cd-b67b-bf8b01975c4c","definitionVersion":"1.*.*","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","parameters":{"listOfAllowedLocations":{"value":["eastus"]}},"metadata":{"createdBy":"367cc74a-c222-4bd4-b837-8fde51b4a9cd","createdOn":"2026-07-26T17:32:27.0505342Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","instanceId":"c4239b6a-a097-4d12-b570-746dde6cd222"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/sigcomply-e2e-loc","type":"Microsoft.Authorization/policyAssignments","name":"sigcomply-e2e-loc","systemData":{"createdBy":"user-ae0e86b080bc@example.com","createdByType":"User","createdAt":"2026-07-26T17:32:26.753463Z","lastModifiedBy":"user-ae0e86b080bc@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-07-26T17:32:26.753463Z"}},{"properties":{"displayName":"Microsoft Azure region access restriction blocking West Europe region","policyDefinitionId":"/PROVIDERS/MICROSOFT.AUTHORIZATION/POLICYDEFINITIONS/7509877F-D414-4D79-8D1F-D600EA78D087","definitionVersion":"1.*.*","scope":"/providers/Microsoft.Management/managementGroups/a62d98eb-ea44-431f-9d5a-3ba56f2be3ce","metadata":{"createdBy":null,"createdOn":"2026-07-12T18:10:28.8901568Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","nonComplianceMessages":[{"message":"The selected region is currently not accepting new customers: https://aka.ms/locationineligible"}],"assignmentType":"SystemHidden","instanceId":"00000000-0000-0000-0000-000000000000"},"id":"/providers/Microsoft.Management/managementGroups/a62d98eb-ea44-431f-9d5a-3ba56f2be3ce/providers/Microsoft.Authorization/policyAssignments/sys.blockwesteurope","type":"Microsoft.Authorization/policyAssignments","name":"sys.blockwesteurope"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 593.372583ms
