---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55655
        form:
            alt:
                - json
            customer:
                - my_customer
            maxResults:
                - "500"
            prettyPrint:
                - "false"
        headers:
        url: https://admin.googleapis.com/admin/directory/v1/users?alt=json&customer=my_customer&maxResults=500&prettyPrint=false
        method: GET
      response:
        body: |-
            {"users":[
            {"id":"100200300","primaryEmail":"alice@example.com","name":{"fullName":"Alice Admin"},"isAdmin":true,"isEnrolledIn2Sv":true,"suspended":false,"externalIds":[{"type":"organization","value":"E-1001"}]},
            {"id":"100200301","primaryEmail":"bob@example.com","name":{"fullName":"Bob User"},"isAdmin":false,"isEnrolledIn2Sv":false,"suspended":false,"externalIds":[{"type":"account","value":"bob-acct"}]},
            {"id":"100200302","primaryEmail":"carol@example.com","name":{"fullName":"Carol Former"},"isAdmin":false,"isEnrolledIn2Sv":true,"suspended":false,"archived":true,"externalIds":[{"type":"custom","customType":"badge","value":"B-7"},{"type":"organization","value":"E-1002"}]}
            ]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 688.291µs
