---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        form:
            api-version:
                - "2026-04-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2026-04-01
        method: GET
      response:
        body: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.Storage/storageAccounts/sigcomplye2e1cd72616","name":"sigcomplye2e1cd72616","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2026-07-26T17:35:29.3141425Z","key2":"2026-07-26T17:35:29.3141425Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"None","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-07-26T17:35:29.3244146Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-07-26T17:35:29.3244146Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2026-07-26T17:35:28.9075833Z","primaryEndpoints":{"dfs":"https://sigcomplye2e1cd72616.dfs.core.windows.net/","web":"https://sigcomplye2e1cd72616.z13.web.core.windows.net/","blob":"https://sigcomplye2e1cd72616.blob.core.windows.net/","queue":"https://sigcomplye2e1cd72616.queue.core.windows.net/","table":"https://sigcomplye2e1cd72616.table.core.windows.net/","file":"https://sigcomplye2e1cd72616.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Original-Request-Ids:
                - 7120591c-123b-4f3c-b583-e59726d7bdb5
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.221618167s
    - id: 1
      request:
        host: management.azure.com
        form:
            api-version:
                - "2026-04-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.Storage/storageAccounts/sigcomplye2e1cd72616/blobServices/default?api-version=2026-04-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.Storage/storageAccounts/sigcomplye2e1cd72616/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false},"isVersioningEnabled":true}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 486.107625ms
