---
version: 2
interactions:
    - id: 0
      request:
        host: firestore.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://firestore.googleapis.com/v1/projects/e2e-project/databases?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"databases":[{"name":"projects/e2e-project/databases/(default)","uid":"3297a169-4fa7-4dc6-b03a-761cb10d2e4b","createTime":"2026-07-26T11:05:45.041899Z","updateTime":"2026-07-26T11:05:50.092369Z","locationId":"us-east1","type":"FIRESTORE_NATIVE","concurrencyMode":"PESSIMISTIC","versionRetentionPeriod":"604800s","earliestVersionTime":"2026-07-26T11:05:45.041899Z","appEngineIntegrationMode":"DISABLED","keyPrefix":"p","pointInTimeRecoveryEnablement":"POINT_IN_TIME_RECOVERY_ENABLED","deleteProtectionState":"DELETE_PROTECTION_ENABLED","databaseEdition":"STANDARD","freeTier":true,"realtimeUpdatesMode":"REALTIME_UPDATES_MODE_ENABLED","etag":"IMyI9Yma8JUDML38lrWZ8JUD"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 6935137152989069712;o=0
        status: 200 OK
        code: 200
        duration: 1.210467917s
