---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55703
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://firestore.googleapis.com/v1/projects/e2e-project/databases/databases?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"databases":[{"name":"projects/e2e-project/databases/(default)","locationId":"nam5","type":"FIRESTORE_NATIVE","pointInTimeRecoveryEnablement":"POINT_IN_TIME_RECOVERY_ENABLED","deleteProtectionState":"DELETE_PROTECTION_ENABLED","cmekConfig":{"kmsKeyName":"projects/e2e-project/locations/us-central1/keyRings/r/cryptoKeys/k"}}],"unreachable":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 839.125µs
