---
version: 2
interactions:
    - id: 0
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"locations":[{"name":"projects/e2e-project/locations/africa-south1","labels":{"cloud.googleapis.com/location":"africa-south1","cloud.googleapis.com/country":"ZA","cloud.googleapis.com/region":"africa-south1"},"metadata":{"@type":"type.googleapis.com/google.cloud.kms.v1.LocationMetadata","hsmAvailable":true,"ekmAvailable":true},"locationId":"africa-south1","displayName":"Johannesburg"},{"name":"projects/e2e-project/locations/asia","labels":{"cloud.googleapis.com/country":"SG","cloud.googleapis.com/location":"asia"},"metadata":{"@type":"type.googleapis.com/google.cloud.kms.v1.LocationMetadata","hsmAvailable":true,"ekmAvailable":true},"locationId":"asia"},{"name":"projects/e2e-project/locations/asia-east1","labels":{"cloud.googleapis.com/region":"asia-east1","cloud.googleapis.com/country":"TW","cloud.googleapis.com/location":"asia-east1"},"metadata":{"@type":"typ[...]
    - id: 1
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/africa-south1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 3.009292667s
    - id: 2
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/asia/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 534.973166ms
    - id: 3
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/asia-east1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 558.9415ms
[...]
    - id: 5
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/asia-northeast1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 760.848625ms
[...]
    - id: 8
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/asia-south1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 289.300458ms
[...]
    - id: 10
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/asia-southeast1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 311.044209ms
[...]
    - id: 13
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/asia1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 742.525167ms
    - id: 14
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/au/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 939.792334ms
    - id: 15
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/australia-southeast1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 956.200917ms
[...]
    - id: 17
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/ca/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.599578459s
    - id: 18
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/de/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.10841075s
    - id: 19
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/eur3/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.069094167s
[...]
    - id: 25
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/europe/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.058783291s
    - id: 26
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/europe-central2/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.1950615s
    - id: 27
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/europe-north1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.191302916s
[...]
    - id: 29
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/europe-southwest1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.173938958s
    - id: 30
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/europe-west1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.126887792s
[...]
    - id: 39
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/global/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 750.820375ms
    - id: 40
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/in/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 279.321083ms
    - id: 41
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/it/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.19124375s
    - id: 42
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/jp/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 735.513166ms
    - id: 43
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/me-central1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.66149825s
[...]
    - id: 45
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/me-west1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.398229625s
    - id: 46
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/nam-eur-asia1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 875.992458ms
    - id: 47
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/nam10/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.401038167s
[...]
    - id: 56
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/northamerica-northeast1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.633015625s
[...]
    - id: 58
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/northamerica-south1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.53040575s
    - id: 59
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/southamerica-east1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.234554458s
    - id: 60
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/southamerica-west1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.976979709s
    - id: 61
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/us/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.365202875s
    - id: 62
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/us-central1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.544786916s
    - id: 63
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/us-east1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"keyRings":[{"name":"projects/e2e-project/locations/us-east1/keyRings/sigcomply-e2e-kr","createTime":"2026-07-26T10:34:45.766182175Z"}],"totalSize":1}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.638241625s
    - id: 64
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/us-east1/keyRings/sigcomply-e2e-kr/cryptoKeys?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"cryptoKeys":[{"name":"projects/e2e-project/locations/us-east1/keyRings/sigcomply-e2e-kr/cryptoKeys/sigcomply-e2e-key","primary":{"name":"projects/e2e-project/locations/us-east1/keyRings/sigcomply-e2e-kr/cryptoKeys/sigcomply-e2e-key/cryptoKeyVersions/1","state":"ENABLED","createTime":"2026-07-26T10:34:47.921850870Z","protectionLevel":"SOFTWARE","algorithm":"GOOGLE_SYMMETRIC_ENCRYPTION","generateTime":"2026-07-26T10:34:47.921850870Z"},"purpose":"ENCRYPT_DECRYPT","createTime":"2026-07-26T10:34:47.921850870Z","nextRotationTime":"2026-10-24T10:34:46Z","rotationPeriod":"7776000s","versionTemplate":{"protectionLevel":"SOFTWARE","algorithm":"GOOGLE_SYMMETRIC_ENCRYPTION"},"destroyScheduledDuration":"2592000s"}],"totalSize":1}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.643682167s
[...]
    - id: 67
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/us-south1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.442605542s
    - id: 68
      request:
        host: cloudkms.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/us-west1/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.337238208s
[...]
