---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55699
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"locations":[{"locationId":"us","name":"projects/e2e-project/locations/us"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 714.75µs
    - id: 1
      request:
        host: 127.0.0.1:55699
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/us/keyRings?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"keyRings":[{"name":"projects/e2e-project/locations/us/keyRings/primary"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.583µs
    - id: 2
      request:
        host: 127.0.0.1:55699
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/e2e-project/locations/us/keyRings/primary/cryptoKeys?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"cryptoKeys":[{"name":"projects/e2e-project/locations/us/keyRings/primary/cryptoKeys/symmetric","purpose":"ENCRYPT_DECRYPT","rotationPeriod":"7776000s","versionTemplate":{"protectionLevel":"HSM"},"primary":{"state":"ENABLED"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.583µs
