---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        form:
            api-version:
                - "2026-02-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2026-02-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.KeyVault/vaults/sigcomply-e2e-kv-1cd7","name":"sigcomply-e2e-kv-1cd7","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"user-ae0e86b080bc@example.com","createdByType":"User","createdAt":"2026-07-26T17:36:18.156Z","lastModifiedBy":"user-ae0e86b080bc@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-07-26T17:36:18.156Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"a62d98eb-ea44-431f-9d5a-3ba56f2be3ce","accessPolicies":[{"tenantId":"a62d98eb-ea44-431f-9d5a-3ba56f2be3ce","objectId":"367cc74a-c222-4bd4-b837-8fde51b4a9cd","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":false,"enablePurgeProtection":true,"vaultUri":"https://sigcomply-e2e-kv-1cd7.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2026-02-01&%24skiptoken=3ZDNaoQwAITfJZSeNkZTf1ZBitA%2fWr1Ut1LxEmPWumqUJNp1xXevW%2foUvcxhGL5hZgGcnVVY80YCbwGPQZwcYuCBL6UG6SHUEU4q1jGuNHIZBdNo3yE5FpKKelB1zyUyaOlg27AhJWYJTcchcG%2b5LqTYtCzK7H1pHNEg%2bqkumZAoqqnoZX9U2hubP8jYKjRdVd6ToYbTFtmoPtaxDXUMdeP2RjZbVd8w7lPc8k%2fsKvp8tsL0MGexMWd35wtJy1OBje%2fipVFZ8tqGqcJh8nTKHqgP1h0goguqSrCKKFYmV9Q2MXiPwO53fkREw8RmLfnfAznw8n%2f0QQ5WsP4A"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Original-Request-Ids:
                - c2646304-b4b7-4bb3-9895-fcef7410d4b0
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.159441334s
    - id: 1
      request:
        host: management.azure.com
        form:
            $skiptoken:
                - 3ZDNaoQwAITfJZSeNkZTf1ZBitA/Wr1Ut1LxEmPWumqUJNp1xXevW/oUvcxhGL5hZgGcnVVY80YCbwGPQZwcYuCBL6UG6SHUEU4q1jGuNHIZBdNo3yE5FpKKelB1zyUyaOlg27AhJWYJTcchcG+5LqTYtCzK7H1pHNEg+qkumZAoqqnoZX9U2hubP8jYKjRdVd6ToYbTFtmoPtaxDXUMdeP2RjZbVd8w7lPc8k/sKvp8tsL0MGexMWd35wtJy1OBje/ipVFZ8tqGqcJh8nTKHqgP1h0goguqSrCKKFYmV9Q2MXiPwO53fkREw8RmLfnfAznw8n/0QQ5WsP4A
            api-version:
                - "2[...]
    - id: 2
      request:
        host: management.azure.com
        form:
            api-version:
                - "2026-02-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.KeyVault/vaults/sigcomply-e2e-kv-1cd7/keys?api-version=2026-02-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.KeyVault/vaults/sigcomply-e2e-kv-1cd7/keys/e2e-key","name":"e2e-key","type":"Microsoft.KeyVault/vaults/keys","location":"eastus","properties":{"attributes":{"enabled":true,"created":1785087414,"updated":1785087414,"recoveryLevel":"CustomizedRecoverable","exportable":false},"keyUri":"https://sigcomply-e2e-kv-1cd7.vault.azure.net/keys/e2e-key"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.411489833s
    - id: 3
      request:
        host: management.azure.com
        form:
            api-version:
                - "2026-02-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.KeyVault/vaults/sigcomply-e2e-kv-1cd7/keys/e2e-key?api-version=2026-02-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.KeyVault/vaults/sigcomply-e2e-kv-1cd7/keys/e2e-key","name":"e2e-key","type":"Microsoft.KeyVault/vaults/keys","location":"eastus","properties":{"attributes":{"enabled":true,"created":1785087414,"updated":1785087414,"recoveryLevel":"CustomizedRecoverable","exportable":false},"rotationPolicy":{"lifetimeActions":[{"trigger":{"timeBeforeExpiry":"P30D"},"action":{"type":"Notify"}}],"attributes":{"created":1785087415,"updated":1785087415,"expiryTime":"P90D"}},"kty":"RSA","keyOps":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"keySize":2048,"keyUri":"https://sigcomply-e2e-kv-1cd7.vault.azure.net/keys/e2e-key","keyUriWithVersion":"https://sigcomply-e2e-kv-1cd7.vault.azure.net/keys/e2e-key/58a5becb63af4a72ae9a85ddf013640a"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.829814458s
    - id: 4
      request:
        host: management.azure.com
        form:
            api-version:
                - "2026-02-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.KeyVault/vaults/sigcomply-e2e-kv-1cd7/secrets?api-version=2026-02-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.KeyVault/vaults/sigcomply-e2e-kv-1cd7/secrets/e2e-secret","name":"e2e-secret","type":"Microsoft.KeyVault/vaults/secrets","location":"eastus","tags":{"file-encoding":"utf-8"},"properties":{"attributes":{"enabled":true,"created":1785087418,"updated":1785087418},"secretUri":"https://sigcomply-e2e-kv-1cd7.vault.azure.net/secrets/e2e-secret","secretUriWithVersion":"https://sigcomply-e2e-kv-1cd7.vault.azure.net/secrets/e2e-secret/5ee1398a062647b48942fd11e19de1dd"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3748"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "248"
        status: 200 OK
        code: 200
        duration: 275.665208ms
