---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55195
        body: |
            {}
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/projects/e2e-project:getIamPolicy?alt=json&prettyPrint=false
        method: POST
      response:
        body: |-
            {"version":1,"etag":"BwAbcdEf","bindings":[
            {"role":"roles/owner","members":["user:admin@example.com"]},
            {"role":"roles/viewer","members":["group:eng@example.com","serviceAccount:user@example.com"]}
            ]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.178041ms
