---
version: 2
interactions:
    - id: 0
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {}
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/projects/e2e-project:getIamPolicy?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"version":1,"etag":"BwZXgSij+wI=","bindings":[{"role":"roles/artifactregistry.serviceAgent","members":["serviceAccount:user-ead174ccb90f@example.com"]},{"role":"roles/compute.instanceGroupManagerServiceAgent","members":["serviceAccount:user-f62f4e4e7c2d@example.com"]},{"role":"roles/compute.serviceAgent","members":["serviceAccount:user-0afbaf72f80f@example.com"]},{"role":"roles/container.serviceAgent","members":["serviceAccount:user-9d9c1fc6dea0@example.com"]},{"role":"roles/containerregistry.ServiceAgent","members":["serviceAccount:user-83d9a4d29fab@example.com"]},{"role":"roles/file.serviceAgent","members":["serviceAccount:user-6126eb2aad97@example.com"]},{"role":"roles/iam.securityReviewer","members":["serviceAccount:user-7dbeacc1468c@example.com"]},{"role":"roles/owner","members":["user:user-e7ddd3e87a20@example.com"]},{"role":"roles/pubsub.serviceAgent","members":["serviceAccount:user-027d66fc1dca@example.com"]},{"role":"roles/viewer","members":["serviceAccount:user-7dbeacc1468c@example.com"]}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.57496975s
