---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        headers:
            Amz-Sdk-Invocation-Id:
                - 87a51d36-df1b-4d8c-a29c-98fb60458942
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            X-Amz-Date:
                - 20260628T112214Z
        url: https://guardduty.us-east-1.amazonaws.com/detector
        method: GET
      response:
        body: '{"detectorIds":["02cf86fb4bfca744174e92bed5839e22"]}'
        headers:
            Content-Type:
                - application/json
            X-Amz-Apigw-Id:
                - fq2M6GJfIAMEghQ=
            X-Amzn-Requestid:
                - b86988fc-a0b4-46eb-9d68-a2bed7f1d7dd
        status: 200 OK
        code: 200
        duration: 5.784479958s
    - id: 1
      request:
        host: ""
        headers:
            Amz-Sdk-Invocation-Id:
                - aa90bd1f-b109-48f3-bdb4-498cd39d0476
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            X-Amz-Date:
                - 20260628T112219Z
        url: https://guardduty.us-east-1.amazonaws.com/detector/02cf86fb4bfca744174e92bed5839e22
        method: GET
      response:
        body: |-
            {
              "status" : "ENABLED",
              "createdAt" : "2026-06-28T11:21:32.515Z",
              "updatedAt" : "2026-06-28T11:21:32.515Z",
              "findingPublishingFrequency" : "SIX_HOURS",
              "dataSources" : {
                "cloudTrail" : {
                  "status" : "ENABLED",
                  "updatedAt" : "2026-06-28T11:22:26.031Z"
                },
                "dnsLogs" : {
                  "status" : "ENABLED",
                  "updatedAt" : "2026-06-28T11:22:26.034Z"
                },
                "flowLogs" : {
                  "status" : "ENABLED",
                  "updatedAt" : "2026-06-28T11:22:26.037Z"
                },
                "s3Logs" : {
                  "status" : "ENABLED",
                  "updatedAt" : "2026-06-28T11:21:32.542Z"
                },
                "kubernetes" : {
                  "auditLogs" : {
                    "status" : "ENABLED",
                    "updatedAt" : "2026-06-28T11:21:32.549Z"
                  }
                },
                "malwareProtection" : {
                  "serviceRole" : "arn:aws:iam::000000000000:role/aws-service-role/malware-protection.guardduty.amazonaws.com/AWSServiceRoleForAmazonGuardDutyMalwareProtection",
                  "scanEc2InstanceWithFindings" : {
                    "ebsVolumes" : {
                      "status" : "ENABLED",
                      "updatedAt" : "2026-06-28T11:21:32.554Z"
                    }
                  }
                },
                "database" : {
                  "rds" : {
                    "databaseEvents" : {
                      "status" : "ENABLED",
                      "updatedAt" : "2026-06-28T11:21:32.558Z"
                    }
                  }
                }
              },
              "features" : [ {
                "name" : "CLOUD_TRAIL",
                "status" : "ENABLED",
                "updatedAt" : 1782645746,
                "additionalConfiguration" : null
              }, {
                "name" : "DNS_LOGS",
                "status" : "ENABLED",
                "updatedAt" : 1782645746,
                "additionalConfiguration" : null
              }, {
                "name" : "FLOW_LOGS",
                "status" : "ENABLED",
                "updatedAt" : 1782645746,
                "additionalConfiguration" : null
              }, {
                "name" : "S3_DATA_EVENTS",
                "status" : "ENABLED",
                "update[...]
