---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55199
        form:
            alt:
                - json
            pageToken:
                - ""
            prefix:
                - ""
            prettyPrint:
                - "false"
            project:
                - e2e-project
            projection:
                - full
            returnPartialSuccess:
                - "false"
        headers:
            X-Goog-Gcs-Idempotency-Token:
                - 3e7fa813-abaf-4bcd-9af4-02132dab5ad2
        url: https://storage.googleapis.com/b?alt=json&pageToken=&prefix=&prettyPrint=false&project=e2e-project&projection=full&returnPartialSuccess=false
        method: GET
      response:
        body: |-
            {"kind":"storage#buckets","items":[{
            "kind":"storage#bucket","name":"e2e-bucket","location":"US","timeCreated":"2026-01-01T00:00:00Z",
            "iamConfiguration":{"uniformBucketLevelAccess":{"enabled":true},"publicAccessPrevention":"enforced"},
            "versioning":{"enabled":true},
            "encryption":{"defaultKmsKeyName":"projects/e2e-project/locations/us/keyRings/r/cryptoKeys/k"}
            }]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 588.042µs
