---
version: 2
interactions:
    - id: 0
      request:
        host: storage.googleapis.com
        form:
            alt:
                - json
            pageToken:
                - ""
            prefix:
                - ""
            prettyPrint:
                - "false"
            project:
                - e2e-project
            projection:
                - full
            returnPartialSuccess:
                - "false"
        headers:
            X-Goog-Gcs-Idempotency-Token:
                - e8cdcf8f-67da-4acf-a630-aeab10cc5db0
        url: https://storage.googleapis.com/storage/v1/b?alt=json&pageToken=&prefix=&prettyPrint=false&project=e2e-project&projection=full&returnPartialSuccess=false
        method: GET
      response:
        body: '{"kind":"storage#buckets","items":[{"kind":"storage#bucket","selfLink":"https://www.googleapis.com/storage/v1/b/e2e-bucket","id":"e2e-bucket","name":"e2e-bucket","projectNumber":"000000000000","generation":"1785058914099400274","metageneration":"2","location":"US-EAST1","storageClass":"STANDARD","etag":"CAI=","timeCreated":"2026-07-26T09:41:54.466Z","updated":"2026-07-26T09:41:56.440Z","versioning":{"enabled":true},"softDeletePolicy":{"retentionDurationSeconds":"604800","effectiveTime":"2026-07-26T09:41:54.466Z"},"iamConfiguration":{"bucketPolicyOnly":{"enabled":true,"lockedTime":"2026-10-24T09:41:54.466Z"},"uniformBucketLevelAccess":{"enabled":true,"lockedTime":"2026-10-24T09:41:54.466Z"},"publicAccessPrevention":"enforced"},"locationType":"region","satisfiesPZI":true}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.108580125s
