---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        headers:
            Amz-Sdk-Invocation-Id:
                - 80908d2e-60bf-420c-96f5-5138aaa03bf1
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            X-Amz-Date:
                - 20260628T110800Z
        url: https://eks.us-east-1.amazonaws.com/clusters
        method: GET
      response:
        body: '{"clusters":["e2e-cluster"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 411.875µs
    - id: 1
      request:
        host: ""
        headers:
            Amz-Sdk-Invocation-Id:
                - 62bcba35-ef57-45a9-a319-13ee7f4c41cc
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            X-Amz-Date:
                - 20260628T110800Z
        url: https://eks.us-east-1.amazonaws.com/clusters/e2e-cluster
        method: GET
      response:
        body: |-
            {"cluster":{
            "name":"e2e-cluster",
            "arn":"arn:aws:eks:us-east-1:000000000000:cluster/e2e-cluster",
            "version":"1.29",
            "status":"ACTIVE",
            "resourcesVpcConfig":{"endpointPublicAccess":false,"endpointPrivateAccess":true},
            "logging":{"clusterLogging":[{"types":["api","audit"],"enabled":true}]},
            "encryptionConfig":[{"resources":["secrets"],"provider":{"keyArn":"arn:aws:kms:us-east-1:000000000000:key/example-eks-key"}}]
            }}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.833µs
