---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55701
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://secretmanager.googleapis.com/v1/projects/e2e-project/secrets?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"secrets":[{"name":"projects/e2e-project/secrets/db-password","rotation":{"nextRotationTime":"2026-09-16T10:00:00Z"},"replication":{"automatic":{"customerManagedEncryption":{"kmsKeyName":"projects/e2e-project/locations/us/keyRings/r/cryptoKeys/k"}}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 492.125µs
    - id: 1
      request:
        host: 127.0.0.1:55701
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://secretmanager.googleapis.com/v1/projects/e2e-project/secrets/db-password/versions?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"versions":[{"name":"projects/e2e-project/secrets/db-password/versions/2","createTime":"2026-06-16T10:00:00Z","state":"ENABLED"},{"name":"projects/e2e-project/secrets/db-password/versions/1","createTime":"2026-03-16T10:00:00Z","state":"ENABLED"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.334µs
