---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        form:
            include_subgroups:
                - "true"
            page:
                - "1"
            per_page:
                - "100"
        headers:
            Private-Token:
                - REDACTED
        url: https://gitlab.com/api/v4/groups/e2e-group/projects?include_subgroups=true&page=1&per_page=100
        method: GET
      response:
        body: '[{"id":83588601,"description":null,"name":"e2e-unprotected","name_with_namespace":"e2e-group / e2e-unprotected","path":"e2e-unprotected","path_with_namespace":"e2e-group/e2e-unprotected","created_at":"2026-06-20T19:58:43.977Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"user@example.com:e2e-group/e2e-unprotected.git","http_url_to_repo":"https://gitlab.com/e2e-group/e2e-unprotected.git","web_url":"https://gitlab.com/e2e-group/e2e-unprotected","readme_url":"https://gitlab.com/e2e-group/e2e-unprotected/-/blob/main/README.md","forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2026-06-20T19:58:43.902Z","visibility":"private","namespace":{"id":135372574,"name":"e2e-group","path":"e2e-group","kind":"group","full_path":"e2e-group","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/e2e-group"},"container_registry_image_prefix":"registry.gitlab.com/e2e-group/e2e-unprotected","_links":{"self":"https://gitlab.com/api/v4/projects/83588601","issues":"https://gitlab.com/api/v4/projects/83588601/issues","merge_requests":"https://gitlab.com/api/v4/projects/83588601/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/83588601/repository/branches","labels":"https://gitlab.com/api/v4/projects/83588601/labels","events":"https://gitlab.com/api/v4/projects/83588601/events","members":"https://gitlab.com/api/v4/projects/83588601/members","cluster_agents":"https://gitlab.com/api/v4/projects/83588601/cluster_agents"},"marked_for_deletion_at":null,"marked_for_deletion_on":null,"packages_enabled":true,"empty_repo":false,"archived":false,"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2026-06-21T19:58:43.993Z"},"repository_object_format":"sha1","issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"service_desk_address":"user@example.com","can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"private","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","model_experiments_access_level":"enabled","model_registry_access_level":"enabled","package_registry_access_level":"enabled","emails_disabled":false,"emails_enabled":true,"show_diff_preview_in_email":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":39443482,"import_url":null,"import_type":null,"import_status":"none","open_issues_count":0,"description_html":"","updated_at":"2026-06-20T19:59:23.843Z","ci_default_git_depth":20,"ci_delete_pipelines_in_seconds":null,"ci_forward_deployment_enabled":true,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"ci_id_token_sub_claim_components":["project_path","ref_type","ref"],"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":true,"ci_pipeline_variables_minimum_override_role":"no_one_allowed","runner_token_expiration_interval":null,"group_runners_enabled":true,"resource_group_default_process_mode":"unordered","auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_push_repository_for_job_token_allowed":false,"protect_merge_request_pipelines":true,"ci_display_pipeline_variables":false,"ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"mr_default_title_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"max_artifacts_size":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"web_based_commit_signing_enabled":false},{"id":83588562,"description":null,"name":"e2e-protected","name_with_namespace":"e2e-group / e2e-protected","path":"e2e-protected","path_with_namespace":"e2e-group/e2e-protected","created_at":"2026-06-20T19:55:57.724Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"user@example.com:e2e-group/e2e-protected.git","http_url_to_repo":"https://gitlab.com/e2e-group/e2e-protected.git","web_url":"https://gitlab.com/e2e-group/e2e-protected","readme_url":"https://gitlab.com/e2e-[...]
    - id: 1
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REDACTED
        url: https://gitlab.com/api/v4/projects/83588601/protected_branches/main
        method: GET
      response:
        body: '{"message":"404 Not found"}'
        headers:
            Content-Type:
                - application/json
            Gitlab-Lb:
                - haproxy-main-12-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "2"
            Ratelimit-Remaining:
                - "1998"
            Ratelimit-Reset:
                - "1782629820"
            X-Gitlab-Meta:
                - '{"correlation_id":"a12acb60cbd6c151-BLR","version":"1"}'
        status: 404 Not Found
        code: 404
        duration: 610.719709ms
    - id: 2
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REDACTED
        url: https://gitlab.com/api/v4/projects/83588601/approval_rules
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
            Gitlab-Lb:
                - haproxy-main-05-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            Link:
                - <https://gitlab.com/api/v4/projects/83588601/approval_rules?id=83588601&page=1&per_page=20>; rel="first", <https://gitlab.com/api/v4/projects/83588601/approval_rules?id=83588601&page=1&per_page=20>; rel="last"
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "3"
            Ratelimit-Remaining:
                - "1997"
            Ratelimit-Reset:
                - "1782629820"
            X-Gitlab-Meta:
                - '{"correlation_id":"a12acb680e4bc151-BLR","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "0"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 338.556791ms
    - id: 3
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REDACTED
        url: https://gitlab.com/api/v4/projects/83588601/approvals
        method: GET
      response:
        body: '{"approvers":[],"approver_groups":[],"approvals_before_merge":0,"reset_approvals_on_push":false,"selective_code_owner_removals":false,"disable_overriding_approvers_per_merge_request":false,"merge_requests_author_approval":false,"merge_requests_disable_committers_approval":false,"require_password_to_approve":false,"require_reauthentication_to_approve":false}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"f2791b6e16d4e98fd7d6427dd7b141ab"
            Gitlab-Lb:
                - haproxy-main-34-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "4"
            Ratelimit-Remaining:
                - "1996"
            Ratelimit-Reset:
                - "1782629820"
            X-Gitlab-Meta:
                - '{"correlation_id":"a12acb6c4fa4c151-BLR","version":"1"}'
        status: 200 OK
        code: 200
        duration: 368.256542ms
    - id: 4
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REDACTED
        url: https://gitlab.com/api/v4/projects/83588601/push_rule
        method: GET
      response:
        body: '{"message":"404 Not Found"}'
        headers:
            Content-Type:
                - application/json
            Gitlab-Lb:
                - haproxy-main-47-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "5"
            Ratelimit-Remaining:
                - "1995"
            Ratelimit-Reset:
                - "1782629820"
            X-Gitlab-Meta:
                - '{"correlation_id":"a12acb70f956c151-BLR","version":"1"}'
        status: 404 Not Found
        code: 404
        duration: 382.366416ms
    - id: 5
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REDACTED
        url: https://gitlab.com/api/v4/projects/83588562/protected_branches/main
        method: GET
      response:
        body: '{"id":261166851,"name":"main","push_access_levels":[{"id":318829797,"access_level":40,"access_level_description":"Maintainers","deploy_key_id":null,"user_id":null,"group_id":null}],"merge_access_levels":[{"id":282937452,"access_level":40,"access_level_description":"Maintainers","user_id":null,"group_id":null}],"allow_force_push":true,"unprotect_access_levels":[],"code_owner_approval_required":false,"inherited":false}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"d5dd1c5c5353da43279c95f0fb44ba5b"
            Gitlab-Lb:
                - haproxy-main-42-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "1"
            Ratelimit-Remaining:
                - "1999"
            Ratelimit-Reset:
                - "1782629880"
            X-Gitlab-Meta:
                - '{"correlation_id":"a12acb761ad4c151-BLR","version":"1"}'
        status: 200 OK
        code: 200
        duration: 524.09575ms
[...]
    - id: 13
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REDACTED
        url: https://gitlab.com/api/v4/projects/83588505/protected_branches/master
        method: GET
      response:
        body: '{"id":261165060,"name":"master","push_access_levels":[{"id":318827990,"access_level":40,"access_level_description":"Maintainers","deploy_key_id":null,"user_id":null,"group_id":null}],"merge_access_levels":[{"id":282935661,"access_level":40,"access_level_description":"Maintainers","user_id":null,"group_id":null}],"allow_force_push":false,"unprotect_access_levels":[],"code_owner_approval_required":false,"inherited":false}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"c4b9318e732dacbc5e446f0c48d7400c"
            Gitlab-Lb:
                - haproxy-main-45-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "9"
            Ratelimit-Remaining:
                - "1991"
            Ratelimit-Reset:
                - "1782629880"
            X-Gitlab-Meta:
                - '{"correlation_id":"a12acba42a27c151-BLR","version":"1"}'
        status: 200 OK
        code: 200
        duration: 439.249583ms
[...]
    - id: 17
      request:
        host: gitlab.com
        form:
            page:
                - "1"
            per_page:
                - "100"
        headers:
            Private-Token:
                - REDACTED
        url: https://gitlab.com/api/v4/groups/e2e-group/members/all?page=1&per_page=100
        method: GET
      response:
        body: '[{"id":39443482,"username":"e2e-owner","public_email":null,"name":"Prasanth Melethil","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/614ba415980c6056aa89a519f5babbdd66224bfd58b1a65f77b2616ee3a0a0e7?s=80\u0026d=identicon","web_url":"https://gitlab.com/e2e-owner","access_level":50,"created_at":"2026-06-20T19:51:31.304Z","expires_at":null,"membership_state":"active"}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"95aa8b8cb7f1ad12734327cf4c9788f8"
            Gitlab-Lb:
                - haproxy-main-13-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            Link:
                - <https://gitlab.com/api/v4/groups/e2e-group/members/all?id=e2e-group&page=1&per_page=100>; rel="first", <https://gitlab.com/api/v4/groups/e2e-group/members/all?id=e2e-group&page=1&per_page=100>; rel="last"
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "13"
            Ratelimit-Remaining:
                - "1987"
            Ratelimit-Reset:
                - "1782629880"
            X-Gitlab-Meta:
                - '{"correlation_id":"a12acbc6ed2bc151-BLR","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "100"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 750.838417ms
    - id: 18
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REDACTED
        url: https://gitlab.com/api/v4/users/39443482
        method: GET
      response:
        body: '{"id":39443482,"username":"e2e-owner","public_email":null,"name":"Prasanth Melethil","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/614ba415980c6056aa89a519f5babbdd66224bfd58b1a65f77b2616ee3a0a0e7?s=80\u0026d=identicon","web_url":"https://gitlab.com/e2e-owner","created_at":"2026-06-20T19:49:07.019Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"","github":"","job_title":"","pronouns":null,"organization":"","bot":false,"work_information":null,"local_time":null}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"cd5b0ad94aae622a64bc8508ff9e41c8"
            Gitlab-Lb:
                - haproxy-main-34-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "14"
            Ratelimit-Remaining:
                - "1986"
            Ratelimit-Reset:
                - "1782629880"
            X-Gitlab-Meta:
                - '{"correlation_id":"a12acbd4b9a9c151-BLR","version":"1"}'
        status: 200 OK
        code: 200
        duration: 2.184227417s
