---
version: 2
interactions:
    - id: 0
      request:
        host: cloudasset.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://cloudasset.googleapis.com/v1/projects/e2e-project/feeds?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"feeds":[{"name":"projects/000000000000/feeds/sigcomply-e2e-feed","assetTypes":[".*"],"contentType":"RESOURCE","feedOutputConfig":{"pubsubDestination":{"topic":"projects/e2e-project/topics/sigcomply-e2e-asset-topic"}},"condition":{}}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 3.969001792s
