---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 5f71962a-eb98-403d-965d-6d9e39b49b64
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T111503Z
            X-Amz-Target:
                - StarlingDoveService.DescribeConfigurationRecorders
        url: https://config.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"ConfigurationRecorders":[{"name":"e2e-recorder","roleARN":"arn:aws:iam::000000000000:role/e2e-config-role","recordingGroup":{"allSupported":true,"includeGlobalResourceTypes":true}}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 506.083µs
    - id: 1
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 85a61b96-3184-449c-b095-4f13cc4079a8
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T111503Z
            X-Amz-Target:
                - StarlingDoveService.DescribeConfigurationRecorderStatus
        url: https://config.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"ConfigurationRecordersStatus":[{"name":"e2e-recorder","recording":true,"lastStatus":"SUCCESS"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
        status: 200 OK
        code: 200
        duration: 239.709µs
