---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://compute.googleapis.com/compute/v1/projects/e2e-project/aggregated/instances?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#instanceAggregatedList","id":"projects/e2e-project/aggregated/instances","items":{"zones/us-central1-a":{"warning":{"code":"NO_RESULTS_ON_PAGE","message":"No results for the scope ''zones/us-central1-a''.","data":[{"key":"scope","value":"zones/us-central1-a"}]}},"zones/us-central1-b":{"warning":{"code":"NO_RESULTS_ON_PAGE","message":"No results for the scope ''zones/us-central1-b''.","data":[{"key":"scope","value":"zones/us-central1-b"}]}},"zones/us-central1-c":{"warning":{"code":"NO_RESULTS_ON_PAGE","message":"No results for the scope ''zones/us-central1-c''.","data":[{"key":"scope","value":"zones/us-central1-c"}]}},"zones/us-central1-f":{"warning":{"code":"NO_RESULTS_ON_PAGE","message":"No results for the scope ''zones/us-cen[...]
