---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55185
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://compute.googleapis.com/projects/e2e-project/aggregated/instances?alt=json&prettyPrint=false
        method: GET
      response:
        body: |-
            {"items":{"zones/us-central1-a":{"instances":[{
            "id":"000000000000","name":"e2e-instance","status":"RUNNING",
            "zone":"https://compute.googleapis.com/compute/v1/projects/e2e-project/zones/us-central1-a",
            "machineType":"https://compute.googleapis.com/compute/v1/projects/e2e-project/zones/us-central1-a/machineTypes/e2-small",
            "creationTimestamp":"2026-01-15T12:00:00.000-08:00",
            "canIpForward":false,"deletionProtection":true,
            "shieldedInstanceConfig":{"enableSecureBoot":true,"enableVtpm":true,"enableIntegrityMonitoring":true},
            "serviceAccounts":[{"email":"user@example.com"}],
            "networkInterfaces":[{"name":"nic0","accessConfigs":[]}]
            }]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 544.25µs
