---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - fb97ffbb-0be3-4edf-86a5-125f5935e38d
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20260628T084509Z
            X-Amz-Target:
                - secretsmanager.ListSecrets
        url: https://secretsmanager.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"SecretList":[{"ARN":"arn:aws:secretsmanager:us-east-1:000000000000:secret:e2e-secret-hTSXXz","CreatedDate":1.78263611699E9,"KmsKeyId":"arn:aws:kms:us-east-1:000000000000:key/d8137e9d-fdac-438a-8f14-30227264a9cc","LastChangedDate":1.782636117051E9,"Name":"e2e-secret","SecretVersionsToStages":{"c3a91bdc-8be5-44ae-80d9-27603a9f996f":["AWSCURRENT"]}}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 386e94c3-9a9d-46e7-a5af-da2ca63b39d7
        status: 200 OK
        code: 200
        duration: 831.019833ms
