---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        form:
            api-version:
                - "2026-06-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/managedClusters?api-version=2026-06-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sigcomply-e2e-rg/providers/Microsoft.ContainerService/managedClusters/sigcomply-e2e-aks","location":"eastus","name":"sigcomply-e2e-aks","type":"Microsoft.ContainerService/ManagedClusters","kind":"Base","properties":{"provisioningState":"Succeeded","powerState":{"code":"Running"},"kubernetesVersion":"1.35","currentKubernetesVersion":"1.35.6","dnsPrefix":"sigcomply--sigcomply-e2e-rg-1cd726","fqdn":"sigcomply--sigcomply-e2e-rg-1cd726-k0jpy10u.hcp.eastus.azmk8s.io","azurePortalFQDN":"sigcomply--sigcomply-e2e-rg-1cd726-k0jpy10u.portal.hcp.eastus.azmk8s.io","agentPoolProfiles":[{"name":"nodepool1","count":1,"vmSize":"Standard_D2als_v7","osDiskSizeGB":128,"osDiskType":"Managed","kubeletDiskType":"OS","maxPods":250,"type":"VirtualMachineScaleSets","enableAutoScaling":false,"scaleDownMode":"Delete","provisioningState":"Succeeded","powerState":{"code":"Running"},"orchestratorVersion":"1.35","currentOrchestratorVersion":"1.35.6","enableNodePublicIP":false,"mode":"System","enableEncryptionAtHost":false,"enableUltraSSD":false,"osType":"Linux","osSKU":"Ubuntu","nodeImageVersion":"AKSUbuntu-2404gen2containerd-202607.09.0","upgradeSettings":{"maxSurge":"10%","maxUnavailable":"0"},"enableFIPS":false,"securityProfile":{"sshAccess":"LocalUser","enableVTPM":false,"enableSecureBoot":false},"eTag":"c8b3752c-16d9-4c4e-9aa1-f29d7b19e7ba"}],"linuxProfile":{"adminUsername":"azureuser","ssh":{"publicKeys":[{"keyData":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCemA8HXFy2TaKUpO2bkLjz03KKKDYbjP099YYABaiav9V1A0YX7EAcRKNFTfNW1d5uLWl+/f6IqUmaqQJSniv/X6lazFhbSnN6Uw0ZGwRNqW6RJBX3mzVBxG17Uy6dlL/XxaLGHlwlGswOxDkBOU63CYv1DtEvopvDJTmx742hUeO9EVNlgBUwXLelR3AEmPB1t9nnp5jM31hclKF8Ehu6tqAOTrLmjBqcjxw1uhtjNl2A9SpaDIxJc94lABczWO74x6IoXSTsMxu+brYF7H0ftxDOaBFRvg6LitN2GDbvpYN2pFeBFwf01XTAykp3krwPfC3zJJjJUQ0EBPr9YU9X"}]}},"servicePrincipalProfile":{"clientId":"msi"},"nodeResourceGroup":"MC_sigcomply-e2e-rg_sigcomply-e2e-aks_eastus","enableRBAC":true,"supportPlan":"KubernetesOfficial","networkProfile":{"networkPlugin":"azure","networkPluginMode":"overlay","networkPolicy":"none","networkDataplane":"azure","loadBalancerSku":"standard","loadBalancerProfile":{"managedOutboundIPs":{"count":1},"effectiveOutboundIPs":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_sigcomply-e2e-rg_sigcomply-e2e-aks_eastus/providers/Microsoft.Network/publicIPAddresses/6dda1207-2296-49dc-8c5e-d5d554b8dfe2"}],"backendPoolType":"nodeIPConfiguration"},"podCidr":"10.244.0.0/16","serviceCidr":"10.0.0.0/16","dnsServiceIP":"10.0.0.10","outboundType":"loadBalancer","podCidrs":["10.244.0.0/16"],"serviceCidrs":["10.0.0.0/16"],"ipFamilies":["IPv4"]},"maxAgentPools":100,"identityProfile":{"kubeletidentity":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_sigcomply-e2e-rg_sigcomply-e2e-aks_eastus/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sigcomply-e2e-aks-agentpool","clientId":"1da22628-3eca-43e6-b35c-924944cb8084","objectId":"bffc697f-4770-46e8-b0ae-47a0f549c14f"}},"autoUpgradeProfile":{"nodeOSUpgradeChannel":"NodeImage"},"disableLocalAccounts":false,"securityProfile":{},"storageProfile":{"diskCSIDriver":{"enabled":true},"fileCSIDriver":{"enabled":true},"snapshotController":{"enabled":true}},"oidcIssuerProfile":{"enabled":true,"issuerURL":"https://eastus.oic.prod-aks.azure.com/a62d98eb-ea44-431f-9d5a-3ba56f2be3ce/e5b8e6fb-9ed6-4eba-9282-4c2631210aad/"},"workloadAutoScalerProfile":{},"resourceUID":"6a664ef842ac450001954dd2","metricsProfile":{"costAnalysis":{"enabled":false}},"nodeProvisioningProfile":{"mode":"Manual"},"bootstrapProfile":{"artifactSource":"Direct"},"hostedSystemProfile":{"enabled":false}},"identity":{"type":"SystemAssigned","principalId":"97f08404-b56c-4ad0-9552-b6445b265c39","tenantId":"a62d98eb-ea44-431f-9d5a-3ba56f2be3ce"},"sku":{"name":"Base","tier":"Free"},"eTag":"72bc0535-c624-4dc0-85b0-464c26eb0c70"}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/managedClusters?api-version=2026-03-01&%24skiptoken=3Y%2fNaoQwFIXf5UJnNTHGib8wFBm6q5s63blJkzs2WBNJopSK714ZZtc36Pacw%2fn4VjD4HV61GTxUK7zU7fW9hQo%2bQ5h8RekojOhxRBMi8TM7jKQdqZ8%2fvHR6CtoaT5lUeZKxjEjBFeF5LkiRliWRCU9TiVmh2I1Ozi5aofO00dJZb28hulgThDboWnSLlviAqcvX7MM%2bfX5KuB%2f0dLUDmjPj5SmNC3YQkybLXu%2fwcxInGYlPJGaHv0vYjiDcWPe9w14EVPejXa5%2ba%2bB4F2%2bEG9Dt0do93Duoun9h38EG2y8%3d"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Original-Request-Ids:
                - b07c188e-41a7-465f-8ed3-4d4e93b708af
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.492178125s
    - id: 1
      request:
        host: management.azure.com
        form:
            $skiptoken:
                - 3Y/NaoQwFIXf5UJnNTHGib8wFBm6q5s63blJkzs2WBNJopSK714ZZtc36Pacw/n4VjD4HV61GTxUK7zU7fW9hQo+Q5h8RekojOhxRBMi8TM7jKQdqZ8/vHR6CtoaT5lUeZKxjEjBFeF5LkiRliWRCU9TiVmh2I1Ozi5aofO00dJZb28hulgThDboWnSLlviAqcvX7MM+fX5KuB/0dLUDmjPj5SmNC3YQkybLXu/wcxInGYlPJGaHv0vYjiDcWPe9w14EVPejXa5+a+B4F2+EG9Dt0do93Duoun9h38EG2y8=
            api-version:
                - "2026-03-01"
        headers:
        [...]
    - id: 2
      request:
        host: management.azure.com
        form:
            api-version:
                - 2021-05-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sigcomply-e2e-rg/providers/Microsoft.ContainerService/managedClusters/sigcomply-e2e-aks/providers/Microsoft.Insights/diagnosticSettings?api-version=2021-05-01-preview
        method: GET
      response:
        body: '{"value":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 623.771084ms
