---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56294
        form:
            api-version:
                - "2026-04-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/managedClusters?api-version=2026-04-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.ContainerService/managedClusters/e2eaks","name":"e2eaks","location":"eastus","type":"Microsoft.ContainerService/managedClusters","sku":{"tier":"Standard"},"properties":{"kubernetesVersion":"1.28.0","currentKubernetesVersion":"1.28.5","powerState":{"code":"Running"},"provisioningState":"Succeeded","enableRBAC":true,"securityProfile":{"azureKeyVaultKms":{"enabled":true,"keyId":"https://e2evault.vault.azure.net/keys/k1/abc"}},"apiServerAccessProfile":{"enablePrivateCluster":true},"autoUpgradeProfile":{"upgradeChannel":"stable"},"networkProfile":{"networkPlugin":"azure","networkPolicy":"azure"},"agentPoolProfiles":[{"enableEncryptionAtHost":true}]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.769375ms
    - id: 1
      request:
        host: 127.0.0.1:56294
        form:
            api-version:
                - 2021-05-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.ContainerService/managedClusters/e2eaks/providers/Microsoft.Insights/diagnosticSettings?api-version=2021-05-01-preview
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.ContainerService/managedClusters/e2eaks/providers/Microsoft.Insights/diagnosticSettings/ds1","name":"ds1","type":"Microsoft.Insights/diagnosticSettings","properties":{"logs":[{"category":"kube-audit","enabled":true}],"metrics":[]}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.875µs
