---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55659
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://compute.googleapis.com/projects/e2e-project/global/networks?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"items":[{"name":"default","autoCreateSubnetworks":true,"routingConfig":{"routingMode":"REGIONAL"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 631.625µs
    - id: 1
      request:
        host: 127.0.0.1:55659
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://compute.googleapis.com/projects/e2e-project/aggregated/subnetworks?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"items":{"regions/us-central1":{"subnetworks":[{"name":"default","network":"projects/e2e-project/global/networks/default","logConfig":{"enable":true}}]}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.834µs
