---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://compute.googleapis.com/compute/v1/projects/e2e-project/global/networks?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#networkList","id":"projects/e2e-project/global/networks","items":[{"kind":"compute#network","id":"6626849462306782544","creationTimestamp":"2026-07-25T11:43:11.514-07:00","name":"default","description":"Default network for the project","selfLink":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/networks/default","selfLinkWithId":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/networks/6626849462306782544","autoCreateSubnetworks":true,"subnetworks":["https://www.googleapis.com/compute/v1/projects/e2e-project/regions/me-central1/subnetworks/default","https://www.googleapis.com/compute/v1/projects/e2e-project/regions/asia-southeast2/subnetworks/default","https://www.googleapis.com/compute/v1/projects/e2e-project/regions/asia-southeast1/subnetworks/default","https://www.googleapis.com/compute/v1/projects/e2e-project/regions/us-west4/subnetworks/default","https://www.googleapis.com/compute/v1/projects/e2e-project/regions/europe-west10/subnetwo[...]
    - id: 1
      request:
        host: compute.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://compute.googleapis.com/compute/v1/projects/e2e-project/aggregated/subnetworks?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#subnetworkAggregatedList","id":"projects/e2e-project/aggregated/subnetworks","items":{"regions/us-central1":{"subnetworks":[{"kind":"compute#subnetwork","id":"5791683154520096038","creationTimestamp":"2026-07-25T11:43:21.604-07:00","name":"default","network":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/networks/default","ipCidrRange":"10.128.0.0/20","gatewayAddress":"10.128.0.1","region":"https://www.googleapis.com/compute/v1/projects/e2e-project/regions/us-central1","selfLink":"https://www.googleapis.com/compute/v1/projects/e2e-project/regions/us-central1/subnetworks/default","privateIpGoogleAccess":false,"fingerprint":"TV3AkUdREug=","allowSubnetCidrRoutesOverlap":false,"enableFlowLogs":true,"privateIpv6GoogleAccess":"DISABLE_GOOGLE_ACCESS","purpose":"PRIVATE","logConfig":{"enable":true,"aggregationInterval":"INTERVAL_5_SEC","flowSampling":0.5,"metadata":"EXCLUDE_ALL_METADATA"},"stackType":"IPV4_ONLY"}]},"regions/europe-west1":{"subnetworks":[{"kind":"compute#subnetwork","id":"5695786039563042086","creationTimestamp":"2026-07-25T11:43:21.756-07:00","name":"default","network":"https://www.googleapis.com/compute/v1/projects/e2e-project/global/networks/default","ipCidrRange":"10.132.0.0/20","gatewayAddress":"10.132.0.1","region":"https://www.googleapis.com/compute/v1/projects/e2e-project/regions/europe-west1","selfLink":"https://www.googleapis.com/compute/v1/projects/e2e-project/regi[...]
