---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55883
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://certificatemanager.googleapis.com/v1/projects/e2e-project/locations/-/certificates?alt=json&prettyPrint=false
        method: GET
      response:
        body: |-
            {"certificates":[
            {"name":"projects/e2e-project/locations/us-central1/certificates/web","expireTime":"2026-09-14T00:00:00Z","sanDnsnames":["www.example.com","example.com"],"scope":"DEFAULT","managed":{"state":"ACTIVE","domains":["www.example.com"]}},
            {"name":"projects/e2e-project/locations/us-east1/certificates/legacy","expireTime":"2026-08-01T00:00:00Z","sanDnsnames":["api.example.com"],"selfManaged":{"pemCertificate":"-----BEGIN CERTIFICATE-----"}}
            ],"unreachable":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.221291ms
