---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: '{}'
        headers:
            Amz-Sdk-Invocation-Id:
                - 5b90d795-980a-425f-9ca7-982f88ebadf3
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/json
            X-Amz-Date:
                - 20260628T112416Z
        url: https://inspector2.us-east-1.amazonaws.com/findings/list
        method: POST
      response:
        body: '{"findings":[{"findingArn":"arn:aws:inspector2:us-east-1:000000000000:finding/e2e-finding-0001","severity":"HIGH","status":"ACTIVE","title":"CVE-2024-9999 - openssl","type":"PACKAGE_VULNERABILITY","inspectorScore":7.5,"packageVulnerabilityDetails":{"vulnerabilityId":"CVE-2024-9999"},"remediation":{"recommendation":{"text":"Update the openssl package"}},"resources":[{"id":"i-0e2eexample","type":"AWS_EC2_INSTANCE"}]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 516.583µs
