---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        form:
            api-version:
                - "2025-07-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/workspaces?api-version=2025-07-01
        method: GET
      response:
        body: '{"value":[{"properties":{"customerId":"20f951a4-2612-4eff-9087-528f4bb1567f","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2026-07-26T17:36:59.6628816Z"},"retentionInDays":90,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2026-07-27T17:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2026-07-26T17:36:59.6628816Z","modifiedDate":"2026-07-26T17:37:11.7682817Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.OperationalInsights/workspaces/sigcomply-e2e-law","name":"sigcomply-e2e-law","type":"Microsoft.OperationalInsights/workspaces","etag":"\"0303352a-0000-0100-0000-6a6645c70000\""}]}'
        headers:
            Api-Supported-Versions:
                - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01, 2025-07-01, 2026-03-01
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Original-Request-Ids:
                - ""
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.330389583s
    - id: 1
      request:
        host: management.azure.com
        form:
            api-version:
                - 2021-05-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Insights/diagnosticSettings?api-version=2021-05-01-preview
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/diagnosticSettings/sigcomply-e2e-diag","type":"Microsoft.Insights/diagnosticSettings","name":"sigcomply-e2e-diag","location":"global","properties":{"workspaceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sigcomply-e2e-rg/providers/Microsoft.OperationalInsights/workspaces/sigcomply-e2e-law","logs":[{"category":"Administrative","enabled":true,"categoryGroup":null},{"category":"Security","enabled":true,"categoryGroup":null},{"category":"ServiceHealth","enabled":false,"categoryGroup":null},{"category":"Alert","enabled":false,"categoryGroup":null},{"category":"Recommendation","enabled":false,"categoryGroup":null},{"category":"Policy","enabled":false,"categoryGroup":null},{"category":"Autoscale","enabled":false,"categoryGroup":null},{"category":"ResourceHealth","enabled":false,"categoryGroup":null}]}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "249"
        status: 200 OK
        code: 200
        duration: 1.583790917s
