---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56267
        form:
            api-version:
                - "2025-07-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/workspaces?api-version=2025-07-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.OperationalInsights/workspaces/e2ews","name":"e2ews","location":"eastus","type":"Microsoft.OperationalInsights/workspaces","properties":{"sku":{"name":"PerGB2018"},"retentionInDays":90}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.343625ms
    - id: 1
      request:
        host: 127.0.0.1:56267
        form:
            api-version:
                - 2021-05-01-preview
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Insights/diagnosticSettings?api-version=2021-05-01-preview
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Insights/diagnosticSettings/activity-log","name":"activity-log","type":"Microsoft.Insights/diagnosticSettings","properties":{"logs":[{"category":"Administrative","enabled":true},{"categoryGroup":"Audit","enabled":true}],"workspaceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.OperationalInsights/workspaces/e2ews"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.583µs
