---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: Action=GetAccountPasswordPolicy&Version=2010-05-08
        form:
            Action:
                - GetAccountPasswordPolicy
            Version:
                - "2010-05-08"
        headers:
            Amz-Sdk-Invocation-Id:
                - aec93bf8-eacf-4936-be49-f9fda1a0ec8a
            Amz-Sdk-Request:
                - attempt=1; max=1
            Authorization:
                - REDACTED
            Content-Type:
                - application/x-www-form-urlencoded
            X-Amz-Date:
                - 20260628T075108Z
        url: https://iam.amazonaws.com/
        method: POST
      response:
        body: |
            <ErrorResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
              <Error>
                <Type>Sender</Type>
                <Code>NoSuchEntity</Code>
                <Message>The Password Policy with domain name 000000000000 cannot be found.</Message>
              </Error>
              <RequestId>6a0de7be-7a9e-4836-b0df-00a53d5d8ddf</RequestId>
            </ErrorResponse>
        headers:
            Content-Type:
                - text/xml
            X-Amzn-Requestid:
                - 6a0de7be-7a9e-4836-b0df-00a53d5d8ddf
        status: 404 Not Found
        code: 404
        duration: 5.669029833s
