---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        form:
            page:
                - "1"
            per_page:
                - "100"
        headers:
            Authorization:
                - REDACTED
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/e2e-test-org/repos?per_page=100&page=1
        method: GET
      response:
        body: '[{"id":1275498817,"node_id":"R_kgDOTAaRQQ","name":"e2e-unprotected","full_name":"e2e-test-org/e2e-unprotected","private":true,"owner":{"login":"e2e-test-org","id":295433351,"node_id":"O_kgDOEZv0hw","avatar_url":"https://avatars.githubusercontent.com/u/295433351?v=4","gravatar_id":"","url":"https://api.github.com/users/e2e-test-org","html_url":"https://github.com/e2e-test-org","followers_url":"https://api.github.com/users/e2e-test-org/followers","following_url":"https://api.github.com/users/e2e-test-org/following{/other_user}","gists_url":"https://api.github.com/users/e2e-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/e2e-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/e2e-test-org/subscriptions","organizations_url":"https://api.github.com/users/e2e-test-org/orgs","repos_url":"https://api.github.com/users/e2e-test-org/repos","events_url":"https://api.github.com/users/e2e-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/e2e-test-org/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/e2e-test-org/e2e-unprotected","description":null,"fork":false,"url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected","forks_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/forks","keys_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/keys{/key_id}","collaborators_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/teams","hooks_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/hooks","issue_events_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/issues/events{/number}","events_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/events","assignees_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/assignees{/user}","branches_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/branches{/branch}","tags_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/tags","blobs_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/git/refs{/sha}","trees_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/git/trees{/sha}","statuses_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/statuses/{sha}","languages_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/languages","stargazers_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/stargazers","contributors_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/contributors","subscribers_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/subscribers","subscription_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/subscription","commits_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/commits{/sha}","git_commits_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/git/commits{/sha}","comments_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/comments{/number}","issue_comment_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/issues/comments{/number}","contents_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/contents/{+path}","compare_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/compare/{base}...{head}","merges_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/merges","archive_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/downloads","issues_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/issues{/number}","pulls_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/pulls{/number}","milestones_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/milestones{/number}","notifications_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/labels{/name}","releases_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/releases{/id}","deployments_url":"https://api.github.com/repos/e2e-test-org/e2e-unprotected/deployments","created_at":"2026-06-20T19:13:41Z","updated_at":"2026-06-20T19:24:37Z","pushed_at":"2026-06-20T19:13:42Z","git_url":"git://github.com/e2e-test-org/e2e-unprotected.git","ssh_url":"user@example.com:e2e-test-org/e2e-unprotected.git","clone_url":"https://github.com/e2e-test-org/e2e-unprotected.git","svn_url":"https://github.com/e2e-test-org/e2e-unprotected","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":false,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"disabled"},"secret_scanning_non_provider_patterns":{"status":"disabled"},"secret_scanning_validity_checks":{"status":"disabled"}},"custom_properties":{}},{"id":1275502912,"node_id":"R_kgDOTAahQA","name":"e2e-protected","full_name":"e2e-test-org/e2e-protected","private":false,"owner":{"login":"e2e-test-org","id":295433351,"node_id":"O_kgDOEZv0hw","avatar_url":"https://avatars.githubusercontent.com/u/295433351?v=4","gravatar_id":"","url":"https://api.github.com/users/e2e-test-org","html_url":"https://github.com/e2e-test-org","followers_url":"https://api.github.com/users/e2e-test-org/followers","following_url":"https://api.github.com/users/e2e-t[...]
    - id: 1
      request:
        host: api.github.com
        headers:
            Authorization:
                - REDACTED
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/e2e-test-org/e2e-unprotected/branches/main/protection
        method: GET
      response:
        body: '{"message":"Upgrade to GitHub Pro or make this repository public to enable this feature.","documentation_url":"https://docs.github.com/rest/branches/branch-protection#get-branch-protection","status":"403"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Oauth-Scopes:
                - ""
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Scopes:
                - admin:org, repo
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4986"
            X-Ratelimit-Reset:
                - "1782590558"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "14"
        status: 403 Forbidden
        code: 403
        duration: 412.309375ms
    - id: 2
      request:
        host: api.github.com
        headers:
            Authorization:
                - REDACTED
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/e2e-test-org/e2e-unprotected/vulnerability-alerts
        method: GET
      response:
        body: '{"message":"Vulnerability alerts are disabled.","documentation_url":"https://docs.github.com/rest/repos/repos#check-if-vulnerability-alerts-are-enabled-for-a-repository","status":"404"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Oauth-Scopes:
                - repo
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Scopes:
                - admin:org, repo
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4985"
            X-Ratelimit-Reset:
                - "1782590558"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "15"
        status: 404 Not Found
        code: 404
        duration: 387.71475ms
    - id: 3
      request:
        host: api.github.com
        headers:
            Authorization:
                - REDACTED
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/e2e-test-org/e2e-protected/branches/main/protection
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/e2e-test-org/e2e-protected/branches/main/protection","required_pull_request_reviews":{"url":"https://api.github.com/repos/e2e-test-org/e2e-protected/branches/main/protection/required_pull_request_reviews","dismiss_stale_reviews":false,"require_code_owner_reviews":false,"require_last_push_approval":false,"required_approving_review_count":1},"required_signatures":{"url":"https://api.github.com/repos/e2e-test-org/e2e-protected/branches/main/protection/required_signatures","enabled":false},"enforce_admins":{"url":"https://api.github.com/repos/e2e-test-org/e2e-protected/branches/main/protection/enforce_admins","enabled":false},"required_linear_history":{"enabled":false},"allow_force_pushes":{"enabled":false},"allow_deletions":{"enabled":false},"block_creations":{"enabled":false},"required_conversation_resolution":{"enabled":false},"lock_branch":{"enabled":false},"allow_fork_syncing":{"enabled":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2c01d8e68cf24d69e153ef8c4d68620c4d2db5634d1ed360956a068858a161d0"
            X-Accepted-Oauth-Scopes:
                - ""
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Scopes:
                - admin:org, repo
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4984"
            X-Ratelimit-Reset:
                - "1782590558"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "16"
        status: 200 OK
        code: 200
        duration: 353.6255ms
    - id: 4
      request:
        host: api.github.com
        headers:
            Authorization:
                - REDACTED
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/e2e-test-org/e2e-protected/vulnerability-alerts
        method: GET
      response:
        body: ""
        headers:
            X-Accepted-Oauth-Scopes:
                - repo
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Scopes:
                - admin:org, repo
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4983"
            X-Ratelimit-Reset:
                - "1782590558"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "17"
        status: 204 No Content
        code: 204
        duration: 331.286042ms
    - id: 5
      request:
        host: api.github.com
        form:
            filter:
                - 2fa_disabled
            page:
                - "1"
            per_page:
                - "100"
        headers:
            Authorization:
                - REDACTED
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/e2e-test-org/members?filter=2fa_disabled&page=1&per_page=100
        method: GET
      response:
        body: '[{"login":"e2e-admin","id":295432430,"node_id":"U_kgDOEZvw7g","avatar_url":"https://avatars.g[...]
    - id: 6
      request:
        host: api.github.com
        form:
            page:
                - "1"
            per_page:
                - "100"
        headers:
            Authorization:
                - REDACTED
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/e2e-test-org/members?page=1&per_page=100
        method: GET
      response:
        body: '[{"login":"e2e-admin","id":295432430,"node_id":"U_kgDOEZvw7g","avatar_url":[...]
    - id: 7
      request:
        host: api.github.com
        headers:
            Authorization:
                - REDACTED
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/e2e-test-org/memberships/e2e-admin
        method: GET
      response:
        body: '{"url":"https://api.github.com/orgs/e2e-test-org/memberships/e2e-admin","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/e2e-test-org","user":{"login":"e2e-admin","id":295432430,"node_id":"U_kgDOEZvw7g","avatar_url":"https://avatars.githubusercontent.com/u/295432430?v=4","gravatar_id":"","url":"https://api.github.com/users/e2e-admin","html_url":"https://github.com/e2e-admin","followers_url":"https://api.github.com/users/e2e-admin/followers","following_url":"https://api.github.com/users/e2e-admin/following{/other_user}","gists_url":"https://api.github.com/users/e2e-admin/gists{/gist_id}","starred_url":"https://api.github.com/users/e2e-admin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/e2e-admin/subscriptions","organizations_url":"https://api.github.com/users/e2e-admin/orgs","repos_url":"https://api.github.com/users/e2e-admin/repos","events_url":"https://api.github.com/users/e2e-admin/events{/privacy}","received_events_url":"https://api.github.com/users/e2e-admin/received_events","type":"User","user_view_type":"public","site_admin":false},"direct_membership":true,"enterprise_teams_providing_indirect_membership":[],"organization":{"login":"e2e-test-org","id":295433351,"node_id":"O_kgDOEZv0hw","url":"https://api.github.com/orgs/e2e-test-org","repos_url":"https://api.github.com/orgs/e2e-test-org/repos","events_url":"https://api.github.com/orgs/e2e-test-org/events","hooks_url":"https://api.github.com/orgs/e2e-test-org/hooks","issues_url":"https://api.github.com/orgs/e2e-test-org/issues","members_url":"https://api.github.com/orgs/e2e-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/e2e-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/295433351?v=4","description":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"562cc6bc59b3896a03045375529d57d5f5aa41f15d66467cfa919eccad397e19"
            X-Accepted-Oauth-Scopes:
                - admin:org, read:org, repo, user, write:org
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Scopes:
                - admin:org, repo
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4980"
            X-Ratelimit-Reset:
                - "1782590558"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "20"
        status: 200 OK
        code: 200
        duration: 350.755583ms
    - id: 8
      request:
        host: api.github.com
        form:
            filter:
                - 2fa_disabled
            page:
                - "1"
            per_page:
                - "100"
        headers:
            Authorization:
                - REDACTED
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/e2e-test-org/outside_collaborators?filter=2fa_disabled&page=1&per_page=100
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"15ddd61ae1425aaf2db7b44f4e6cc3e52c971dddcc0547f7e849a45120efacae"'
            X-Accepted-Oauth-Scopes:
                - admin:org, read:org, repo, write:org
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Scopes:
                - admin:org, repo
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4998"
            X-Ratelimit-Reset:
                - "1782590669"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "2"
        status: 200 OK
        code: 200
        duration: 348.066333ms
    - id: 9
      request:
        host: api.github.com
        form:
            page:
                - "1"
            per_page:
                - "100"
        headers:
            Authorization:
                - REDACTED
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/e2e-test-org/outside_collaborators?page=1&per_page=100
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"15ddd61ae1425aaf2db7b44f4e6cc3e52c971dddcc0547f7e849a45120efacae"'
            X-Accepted-Oauth-Scopes:
                - admin:org, read:org, repo, write:org
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Scopes:
                - admin:org, repo
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4997"
            X-Ratelimit-Reset:
                - "1782590669"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "3"
        status: 200 OK
        code: 200
        duration: 298.771084ms
