---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:55797
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://logging.googleapis.com/v2/projects/e2e-project/locations/-/buckets?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"buckets":[{"name":"projects/e2e-project/locations/global/buckets/_Default","retentionDays":400,"locked":true,"lifecycleState":"ACTIVE","cmekSettings":{"kmsKeyName":"projects/e2e-project/locations/us/keyRings/r/cryptoKeys/k"}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 959.25µs
