---
version: 2
interactions:
    - id: 0
      request:
        host: logging.googleapis.com
        form:
            alt:
                - json
            prettyPrint:
                - "false"
        headers:
        url: https://logging.googleapis.com/v2/projects/e2e-project/locations/-/buckets?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"buckets":[{"name":"projects/e2e-project/locations/global/buckets/_Default","description":"Default bucket","retentionDays":30,"lifecycleState":"ACTIVE"},{"name":"projects/e2e-project/locations/global/buckets/_Required","description":"Audit bucket","locked":true,"retentionDays":400,"lifecycleState":"ACTIVE"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.188615334s
