---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:56292
        form:
            api-version:
                - "2025-11-01"
        headers:
            Authorization:
                - REDACTED
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/registries?api-version=2025-11-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/e2e-rg/providers/Microsoft.ContainerRegistry/registries/e2eacr","name":"e2eacr","location":"eastus","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Premium"},"properties":{"loginServer":"e2eacr.azurecr.io","anonymousPullEnabled":false,"publicNetworkAccess":"Disabled","adminUserEnabled":false,"encryption":{"status":"enabled","keyVaultProperties":{"keyIdentifier":"https://e2evault.vault.azure.net/keys/k1","versionedKeyIdentifier":"https://e2evault.vault.azure.net/keys/k1/abc"}},"zoneRedundancy":"Enabled","policies":{"quarantinePolicy":{"status":"enabled"}}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 4.905416ms
